.navbar {
    background-color: white;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form
{
	background-color: cadetblue;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: goldenrod;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: transparent;
}

.navbar-default
{
	background-color:white;
	border-color:none;
}

.navbar-default .navbar-nav>li>a{
	color:white;
}

.btn-primary:hover{
	background-color: cadetblue;
	border-color: goldenrod;
}

.btn-primary{
	background-color: cadetblue;
	border-color: transparent;	
}

