<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link href="/css/report.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<body>
<th:block th:fragment="header">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
           
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/allResident}">Home</a></li>
                    <li><a th:href="@{/reportrequest}">Demographics</a></li>
                    <li><a th:href="@{/dashboard}">Dashboard</a></li>
                    <li><a th:href="@{/overview}">Overview</a></li>
                    <li><a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>
</body>
</html>