<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Access Denied</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link href="/css/common.css" rel="stylesheet">

<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.navbar-brand>img {
  height: 100%;
}
.navbar-brand {
  padding: 0;
}
</style>

</head>
<body>

	<!-- Include _menu.html -->
	<th:block th:include="/_menu"></th:block>

	<div class="container">
		<h3 th:if="${message != null}" th:utext="${message}"
			style="color: red;"></h3>

		<div th:if="${serviceCordInfo != null}" th:utext="${serviceCordInfo}"></div>
	</div>

</body>

</html>