<div id="addResident_Form">

	<form name='_addResidentF' th:action="@{/saveResident}"
		th:object="${resident}" method='POST' class="form-horizontal" onsubmit="return false;">
		<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
			<ul>
				<li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
					<span th:text="${e.global}? '*' : ''">The field name</span>
					<span th:text="${e.message}">The error message</span>
				</li>
			</ul>
		</div>
		<input name="residentId" type="hidden" id="residentId"
			   th:field="*{residentId}" >
		<div class="col-sm-12 myPanel">
			<div class="row">

				<div class="col-sm-10">
					<h3>SERVICE COORDINATION SIGNUP</h3>
				</div>
				<div class="col-sm-2 hideme print-only">
					<img src="/images/rrnlogo_horz.png" style="width: 150px;" />
				</div>

			</div>
			<hr class="solidline1">

			<div class="row">
				<div class="col-sm-12">

					<p>
						<span>As a resident of a Wallick-managed community, you
							have the privilege of having a Service Coordinator for your
							housing community! Your Service Coordinator is responsible for
							helping you, and your family, get connected to available
							community resources that can help you stabilize your housing and
							become more self-sufficient. Examples of the services that the
							Service Coordinator can connect you to include:</span>
					</p>

					<table>
						<tr>
							<td>
								<ul>
									<li>Eviction prevention assistance</li>
									<li>Food pantries/giveaways</li>
									<li>Onsite children&#39;s programs</li>
								</ul>
							</td>
							<td>
								<ul>
									<li>Preschool or childcare for young children</li>
									<li>Assistance with applying for/renewing benefits</li>
									<li>Employment and training opportunities</li>
								</ul>
							</td>
						</tr>
					</table>

					<p>
						<span>However, to take advantage of the services the
							Service Coordinator provides, we need to get your permission,
							first, by having you <strong>check the appropriate
								boxes, and sign, below.</strong>
						</span>
					</p>

					<p>
						<h5>
							<strong>I. <u>Right to Privacy</u></strong>
						</h5>
					</p>

					<p>
						<span>Your Service Coordinator is required to protect your
							right to privacy. That means that if you work with him/her, s/he
							is not allowed to share your information with <u>anyone</u>,
							including your property manager, <strong>unless you
								provide written consent</strong>. At the same time, federal and/or state
							law may require the Service Coordinator to disclose the
							following:
						</span>
					</p>

					<table>
						<tr>
							<td>
								<ul>
									<li>Abuse or neglect of any kind, including physical,
										mental, financial</li>
									<li>Endangerment &ndash; residents who are a danger to
										themselves or others</li>
								</ul>
							</td>
							<td>
								<ul>
									<li>Fraudulent activity and other violations of the law</li>
									<li>Lease violations</li>
									<li>Information pursuant to a proper court order</li>
								</ul>
							</td>
						</tr>
					</table>

					<table class="table table-bordered table-condensed">
						<tr>
							<td><div class="row">
								<div class="col-sm-6">
									<label class="checkbox-inline" for="ackPR"> <input class="setable"
									id="ackPR" type="checkbox" th:field="*{ackRightToPrivacy}"><strong>I
									acknowledge that I was informed of my right to privacy.</strong>
									</label>
								</div>
								<div class="col-sm-6"><label class="col-sm-3 control-label" for="unit">Is Resident?:
										</label>
											<div class="radio">
  											    <label class="col-sm-2"><input th:field="*{isResident}" type="radio" name="isResident" value="TRUE" th:checked />Yes</label>
  											    <label class="col-sm-2"><input th:field="*{isResident}" type="radio" name="isResident" value="FALSE" />No</label>
    										</div>
    							</div>
								</div>
								<p>
								<div class="hideme print-only">
									<p>
									<div class="row">
										<div class="col-sm-12">
											<div class="col-sm-3">
												<strong>Name:</strong>											
												<div></div><span id="residentFullName" class="my-text-print" th:text=*{fullName}></span></div>
											</div>
											<div class="col-sm-3">
												<strong>Referral:</strong>											
												<div><span id="printreferralType" class="my-text-print"></span></div>
											</div>
											<div class="col-sm-3">
												<strong>Property:</strong>											
												<div><span id="printproperty" class="my-text-print"></span></div>
											</div>
											<div class="col-sm-3">
												<strong>Address:</strong>											
												<div><span id="printaddress" class="my-text-print" th:text=*{address}></span></div>
											</div>										
											
										</div>
									</div>									
									</p>
									
								</div>

								<div class="row hidden-print">
									<div class="col-sm-6">

										<label class="col-sm-2 control-label" for="firstName">Name:
										</label>
										<div class="col-sm-4">
											<input class="form-control setable" id="firstName"
												th:field="*{firstName}" placeholder="Enter first name"
												required>
										</div>
										<div class="col-sm-2">
											<input class="form-control setable" id="middle" th:field="*{middle}"
												placeholder="middle">
										</div>
										<div class="col-sm-4">
											<input class="form-control setable" id="lastname"
												th:field="*{lastName}" placeholder="Enter last name"
												required>
										</div>

									</div>
									<div class="col-sm-6">

										<label class="col-sm-2 control-label" for="_referral">Referral:</label>
										<div class="col-sm-10">
											<select class="form-control setable" id="_referral"
												th:field="*{refId}" required>
												<option value="">Select</option>
												<option th:each="referral : ${resident.refList}"
													th:value="${referral.refId}"
													th:utext="${referral.refValue}" />
											</select>
										</div>
									</div>
									<div class="col-sm-6">

										<label class="col-sm-2 control-label" for="_property">Property:</label>
										<div class="col-sm-10">
											<select class="form-control setable" id="_property"
												th:field="*{propertyId}" required>
												<option value="">Select</option>
												<option th:each="property : ${resident.propertyList}"
													th:value="${property.propertyId}"
													th:utext="${property.propertyName}" />
											</select>
										</div>
									</div>
									<div class="col-sm-6">

										<label class="col-sm-2 control-label" for="address">Address:
										</label>
										<div class="col-sm-10">
											<input class="form-control setable" id="address"
												th:field="*{address}" placeholder="No. and Street" required>
										</div>
									</div>
									
								</div>
								
								<div class="row col-sm-12">
									<h5><strong>Demographics</strong></h5>
								</div>
								
								<div class="hideme print-only">							
									
									
									<table class="table table-condensed" style="border:solid 0px transparent;">
										<tr><td><strong>Age:</strong>											
												<div><span id="printAge" class="my-text-print" th:text=*{age}></span></div></td>
											<td><strong>Gender:</strong>											
												<div><span id="printGender" class="my-text-print" th:text=*{gender}></span></div></td>
											<td><strong>Language:</strong>											
												<div><span id="printLang" class="my-text-print" th:text=*{primaryLanguage}></span></div></td>
											<td><strong>Ethnicity:</strong>											
												<div><span id="printEthnicity" class="my-text-print" th:text=*{ethnicity}></span></div></td>	
										</tr>
										<tr><td><strong>Race:</strong>											
												<div><span id="printRace" class="my-text-print" th:text=*{race}></span></div></td>
											<td><strong>Head of Household:</strong>											
												<div><span id="printhoh" class="my-text-print" th:text=*{houseHold}></span></div></td>
											<td><strong>Marital Status:</strong>											
												<div><span id="printMs" class="my-text-print" th:text=*{maritalStatus}></span></div></td>
											<td><strong>Veteran:</strong>											
												<div><span id="printVeteran" class="my-text-print" th:text=*{veteran}></span></div></td>
											
										</tr>
										<tr>
											<td><strong>Disability Status:</strong>											
												<div><span id="printds" class="my-text-print" th:text=*{disabilityStatus}></span></div></td>
											<td><strong>Returning Citizen/Ex Offender:</strong>											
												<div><span id="printrc" class="my-text-print" th:text=*{rcOrExOff}></span></div></td>
											<td><strong>Supplemental Security Income:</strong>											
												<div><span id="printssi" class="my-text-print" th:text=*{ssi}></span></div></td>
											<td><strong>Social Security Disability Insurance:</strong>											
												<div><span id="printssdi" class="my-text-print" th:text=*{ssdi}></span></div></td>										
										</tr>
										<tr>
											<td><strong>Health Coverage:</strong>											
												<div><span id="printhealthCoverage" class="my-text-print" th:text=*{healthCoverage}></span></div></td>
											<td><strong>Highest Education:</strong>											
												<div><span id="printhighestEdu" class="my-text-print" th:text=*{highestEdu}></span></div></td>
											<td><strong>Household Annual Gross Income Amount:</strong>											
												<div><span id="printannual" class="my-text-print" th:text=*{annualGross}></span></div></td>
											<td>
												<strong>Feels safe at home during:</strong>												
												<div>
													<span th:if="*{safeDay}">Day</span>
													<span th:if="*{safeDay and safeNight}"> and </span>
													<span th:if="*{safeNight}">Night</span>
												</div>
											</td>										
										</tr>
									</table>
									
									
																		
								</div>
								
																	
								<div class="row col-sm-12 hidden-print">
									<div class="col-sm-3">										
    									<label class="control-label" for="age">Age:
										</label>
										<div>
											<input class="form-control setable " id="age"
												th:field="*{age}" placeholder="Age">
										</div>
									</div>
									<div class="col-sm-3">
										
										<label class="control-label" for="_gender">Gender:</label>
										<div>
											<select class="form-control setable" id="_gender"
												th:field="*{gender}">
												<option th:each="gender : ${resident.genderList}"
													th:value="${gender}"
													th:utext="${gender}" />
											</select>
										</div>
										
									</div>
									<div class="col-sm-3">
									
										<label class="control-label" for="_priLang">Language:</label>
										<div >
											<select class="form-control setable" id="_priLang"
												th:field="*{primaryLanguage}" >
												<option th:each="lang : ${resident.primaryLangList}"
													th:value="${lang}"
													th:utext="${lang}" />
											</select>
										</div>
									</div>
									
									<div class="col-sm-3">
									
										<label class="control-label" for="_ethnicity">Ethnicity:</label>
										<div>
											<select class="form-control setable" id="_ethnicity"
												th:field="*{ethnicity}">
												<option th:each="eth : ${resident.ethnicityList}"
													th:value="${eth}"
													th:utext="${eth}" />
											</select>
										</div>
									</div>
									
									<div class="col-sm-3">
									
										<label class="control-label" for="_race">Race:</label>
										<div>
											<select class="form-control setable" id="_race"
												th:field="*{race}">
												<option th:each="raceStr : ${resident.raceList}"
													th:value="${raceStr}"
													th:utext="${raceStr}" />
											</select>
										</div>
									</div>
									
									<div class="col-sm-3">
									
										<label class="control-label" for="_hoh">Head Of Household:</label>
										<div>
											<select class="form-control setable" id="_hoh"
												th:field="*{houseHold}">
												<option th:each="hohStr : ${resident.houseHoldList}"
													th:value="${hohStr}"
													th:utext="${hohStr}" />
											</select>
										</div>
									</div>
									
								
									<div class="col-sm-3">										
    									<label class="control-label" for="_maritalStatus">Marital Status:
										</label>
										<div>
											<select class="form-control setable" id="_maritalStatus"
												th:field="*{maritalStatus}">												
												<option th:each="msStr : ${resident.maritalStatusList}"
													th:value="${msStr}"
													th:utext="${msStr}" />
											</select>
										</div>
									</div>
									
									<div class="col-sm-3">										
    									<label class="control-label" for="_veteran">Veteran:
										</label>
										<div>
											<select class="form-control setable" id="_veteran"
												th:field="*{veteran}">												
												<option th:each="vStr : ${resident.veteranList}"
													th:value="${vStr}"
													th:utext="${vStr}" />
											</select>
										</div>
									</div>
									
									<div class="col-sm-3">										
    									<label class="control-label" for="_veteran">Disability Status:
										</label>
										<div>
											<select class="form-control setable" id="_disability"
												th:field="*{disabilityStatus}">												
												<option th:each="dsStr : ${resident.disabilityStatusList}"
													th:value="${dsStr}"
													th:utext="${dsStr}" />
											</select>
										</div>
									</div>
									
									<div class="col-sm-3">										
    									<label class="control-label" for="_rcOrEx">Returning Citizen/Ex Offender:
										</label>
										<div>
											<select class="form-control setable" id="_rcOrEx"
												th:field="*{rcOrExOff}">												
												<option th:each="rcStr : ${resident.rcOrExOffList}"
													th:value="${rcStr}"
													th:utext="${rcStr}" />
											</select>
										</div>
									</div>
									
									<div class="col-sm-3">										
    									<label class="control-label" for="_ssi">Supplemental Security Income:
										</label>
										<div>
											<select class="form-control setable" id="_ssi"
												th:field="*{ssi}">												
												<option th:each="ssiStr : ${resident.ssiList}"
													th:value="${ssiStr}"
													th:utext="${ssiStr}" />
											</select>
										</div>
									</div>
									
									<div class="col-sm-3">										
    									<label class="control-label" for="_ssdi">Social Security Disability Insurance:
										</label>
										<div>
											<select class="form-control setable" id="_ssdi"
												th:field="*{ssdi}">												
												<option th:each="ssdiStr : ${resident.ssdiList}"
													th:value="${ssdiStr}"
													th:utext="${ssdiStr}" />
											</select>
										</div>
									</div>
									
									<div class="col-sm-3">										
    									<label class="control-label" for="_hcov">Health Coverage:
										</label>
										<div>
											<select class="form-control setable" id="_hcov"
												th:field="*{healthCoverage}">												
												<option th:each="hcStr : ${resident.healthCoverageList}"
													th:value="${hcStr}"
													th:utext="${hcStr}" />
											</select>
										</div>
									</div>
									
									<div class="col-sm-3">										
    									<label class="control-label" for="_hedu">Highest Education:
										</label>
										<div>
											<select class="form-control setable" id="_hedu"
												th:field="*{highestEdu}">												
												<option th:each="heduStr : ${resident.highestEduList}"
													th:value="${heduStr}"
													th:utext="${heduStr}" />
											</select>
										</div>
									</div>
									
									<div class="col-sm-3">
										<label class="control-label" for="_annualGross">Household Annual Gross Income Amount:
										</label>
										<input class="form-control setable " id="_annualGross"
												th:field="*{annualGross}" placeholder="Annual Gross Income">
									</div>
									
									<div class="col-sm-3">
										<label class="control-label" >Feels safe at home:
										</label>
										<div>
											<label class="checkbox-inline" > <input class="setable"
												id="safeDay" type="checkbox" th:field="*{safeDay}"><strong>During Day</strong>
											</label>
												<label class="checkbox-inline" > <input class="setable"
												id="safeNight" type="checkbox" th:field="*{safeNight}"><strong>During Night</strong>
											</label>
										
										</div>
										
									</div>
									
									
								</div>
								
								</p></td>
						</tr>

					</table>
					
					<div class="hideme print-only">
									</br>
									</br>
									</br>
									</br>
									</br>
									</br>
									</br>
									</br>
									</br>
									</br>									
									</br>
									</br>
									</br>
					</div>

					<p>
					<h5>
						<strong>II. <u>Services Acknowledgement</u></strong>
					</h5>
					</p>

					<p>
						<span>One of the major responsibilities of a Service
							Coordinator is to inform you about available resources and events
							happening in your local community, but we need your permission to
							contact you. <strong>Mark all that apply.</strong>
						</span>
					</p>

					<table class="table table-bordered table-condensed">
						<tr>
							<td>

								<p>
									<label class="checkbox-inline" for="allowcontact"> <input class="setable"
										id="allowcontact" type="checkbox" th:field="*{allowContact}">
										I am <strong>NOT interested</strong> in being contacted by a
										Service Coordinator, but I understand email/phone contact information is mandatory to service coordinators, which i am providing below:
									</label>
								</p>
								<p>
									I am <strong>willing to be contacted by a Service
										Coordinator</strong> about services, programs, events and resources
									via:
								</p>

								<div class="hideme print-only">
									<p>
									<div class="row">
										<div class="col-sm-3">
											<label class="checkbox-inline" for="printEmail"> <input class="setable"
												id="printEmail" type="checkbox"><strong>Email:&nbsp;&nbsp;</strong>

											</label>
										</div>
										<div class="col-sm-9">
											<span id="printEmailText" class="my-text-print"></span>
										</div>
									</div>
									</p>
									<p>
									<div class="row">
										<div class="col-sm-3">
											<label class="checkbox-inline" for="printvoicemail">
												<input class="setable" id="printvoicemail" type="checkbox"><strong>Voicemail:&nbsp;&nbsp;</strong>

											</label>
										</div>
										<div class="col-sm-9">
											<span id="printvm" class="my-text-print"></span>
										</div>
									</div>
									</p>
									<p>
									<div class="row">
										<div class="col-sm-3">
											<label class="checkbox-inline" for="printtext"> <input class="setable" 
											id="printtext" type="checkbox"><strong>Text:&nbsp;&nbsp;</strong>
										</div>
										<div class="col-sm-9">
											<span id="printtxt" class="my-text-print"></span> </label>
										</div>
									</div>
									</p>
								</div>

								<div class="form-group hidden-print">

									<label class="col-sm-1 control-label" for="viaemail"> <input class="setable"
										id="viaemail" type="checkbox" th:field="*{viaEmail}">
										Email:
									</label>
									<div class="col-sm-3">
										<input class="form-control setable" id="email" type="email"
											th:field="*{email}" placeholder="email">
									</div>
									<label class="col-sm-2 control-label" for="viavoicemail">
										<input class="setable" id="viavoicemail" type="checkbox"
										th:field="*{viaVoicemail}"> Voicemail:
									</label>
									<div class="col-sm-2">
										<input class="form-control setable" id="voicemail"
											th:field="*{voiceMail}" placeholder="voicemail">
									</div>
									<label class="col-sm-1 control-label" for="viatext"> <input class="setable"
										id="viatext" type="checkbox" th:field="*{viaText}">
										Text:
									</label>
									<div class="col-sm-2">
										<input class="form-control setable" id="text" th:field="*{text}"
											placeholder="cell phone">
									</div>
								</div>
								</p>

								<p>
									<label class="checkbox-inline" for="wantSurvey"> <input class="setable"
										id="wantSurvey" type="checkbox" th:field="*{wantSurvey}">I
										will <strong>complete a Household Survey within 10
											days</strong> so that the Service Coordinator can better understand
										what types of assistance I, or my family, may need.
									</label>
								</p>
								
							</td>
						</tr>
					</table>

					<p>
					<h5>
						<strong>III. <u>Photo and Video Release</u></strong>
					</h5>
					</p>

					<p>
						<span>When your Service Coordinator holds an event or
							program for your community, s/he is required to take photos to
							share with Wallick leadership and the broader community all the
							good things happening in your housing community. </span>
					</p>

					<table class="table table-bordered table-condensed">
						<tr>
							<td><label class="checkbox-inline" for="photoVideoRelease">
									<input class="setable" id="photoVideoRelease" type="checkbox"
									th:field="*{photoRelease}">I give permission for me to
									be photographed and recorded on video. I understand that the
									images will be used in several mediums (e.g., newsletters,
									organizational websites, and social media sites) and
									acknowledge that the photos WILL NOT be sold to, or used by,
									persons or organizations not associated with Wallick, the
									nonprofit it established, Resident Resources Network, or
									contracted service providers.
							</label></td>
						</tr>
					</table>


					<h5>
						<strong>Children&#39;s Names (if applicable):</strong>
					</h5>

					<table class="table table-bordered table-condensed text-center">
						<thead>
							<th>Child FullName</th>
							<th class="text-center">Photo And Video Release</th>
							<th>Child FullName</th>
							<th class="text-center">Photo And Video Release</th>
						</thead>
						<tbody>
							<tr>
								<td><input class="form-control setable" id="child1"
									th:field="*{child1}" placeholder="Child 1 fullname"></td>
								<td><input class="setable" id="pvrchild1" type="checkbox"
									th:field="*{pvrChild1}"></td>
								<td><input class="form-control setable" id="child2"
									th:field="*{child2}" placeholder="Child 2 fullname"></td>
								<td><input class="setable" id="pvrchild2" type="checkbox"
									th:field="*{pvrChild2}"></td>
								</td>
							</tr>
							<tr>
								<td><input class="form-control setable" id="child3"
									th:field="*{child3}" placeholder="Child 3 fullname"></td>
								<td><input class="setable" id="pvrchild3" type="checkbox"
									th:field="*{pvrChild3}"></td>
								</td>
								<td><input class="form-control setable" id="child4"
									th:field="*{child4}" placeholder="Child 4 fullname"></td>
								<td><input class="setable" id="pvrchild4" type="checkbox"
									th:field="*{pvrChild4}"></td>
								</td>
							</tr>
							<tr>
								<td><input class="form-control setable" id="child5"
									th:field="*{child5}" placeholder="Child 5 fullname"></td>
								<td><input class="setable" id="pvrchild5" type="checkbox"
									th:field="*{pvrChild5}"></td>
								</td>
								<td><input class="form-control setable" id="child6"
									th:field="*{child6}" placeholder="Child 6 fullname"></td>
								<td><input class="setable" id="pvrchild6" type="checkbox"
									th:field="*{pvrChild6}"></td>
								</td>
							</tr>
							<tr>
								<td><input class="form-control setable" id="child7"
									th:field="*{child7}" placeholder="Child 7 fullname"></td>
								<td><input class="setable" id="pvrchild7" type="checkbox"
									th:field="*{pvrChild7}"></td>
								</td>
								<td><input class="form-control setable" id="child8"
									th:field="*{child8}" placeholder="Child 8 fullname"></td>
								<td><input class="setable" id="pvrchild8" type="checkbox"
									th:field="*{pvrChild8}"></td>
								</td>
							</tr>


						</tbody>
					</table>
					<br>
					<div class="row hideme print-only">

						<div class="col-sm-6">
							<div class="col-sm-4">Resident Signature:</div>
							<div class="col-sm-8" style="width: 200px;">
								<hr>
							</div>
						</div>
						<div class="col-sm-6">

							<div class="col-sm-4">Date:</div>
							<div class="col-sm-8" style="width: 200px;">
								<hr>
							</div>

						</div>
					</div>


					<div class="row text-center bs-linebreak hidden-print">
						<input type="hidden" th:field="*{serviceCoord}" /> 
						<input type="hidden" id="propertyString" th:value="${resident.propertyList}" />
						<input type="hidden" th:field="*{active}" />
						<input type="submit" id="btnSubmit" class="btn btn-primary btn-lg"
							   th:value="${resident.residentId==null}?'Save Resident':'Update Resident'"
							   onclick="saveOrUpdateResident(this.form);"/>
						<input th:type="${resident.active}?'button':'hidden'" id="btnDeactivateResident" class="btn btn-primary btn-lg"
							   value="Deactivate" th:title="*{active}"
							   onclick="deactivateResident(this);"/>
						<input th:type="${resident.residentId==null||resident.active==true}?'hidden':'button'" id="btnReactivateResident" class="btn btn-primary btn-lg"
							   value="Reactivate" th:title="*{active}"
							   onclick="reactivateResident(this);"/>						
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
