<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Resident Resource Network</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="/css/common.css" rel="stylesheet">

<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.navbar-brand>img {
	height: 100%;
}

.navbar-brand {
	padding: 0;
}

.text-danger {
	color: #a94442;
}
</style>

<script type="text/javascript">
    var res = null;
</script>

</head>
<body>

	<!-- Include _menu.html -->
	<th:block th:include="/_menu"></th:block>

	<!-- <div class="container">
		<th:block th:include="/_wizard"></th:block>
	</div> -->
	<div class="container	">
		<div id="actionPlan_Form">

			<form name='_actionPlanF' th:action="@{/saveActionPlan}"
				th:object="${resident}" method='POST' class="form-horizontal">

				<div class="col-sm-12 myPanel">
					<div class="row">
						<div class="col-sm-7">
							<h3 style="width: 400px;">ACTION PLAN</h3>
							<span class="hidden-print" style="color: red; font-size: larger;"
								th:if="*{firstName == null}" th:text="${message}"></span>							
						</div>
						
						<div class="col-sm-2 hidden-print">
						<select class="form-control setable" id="_dates"
									th:field="*{selectedDate}" onchange="buildAchorTagForSelectedDate(this, jQuery('#_residentIdText').text()); validateAndShowMessage();">
									<option value="new">New Action Plan</option>
									<option th:each="actionPlanDate : ${resident.actionPlanDates}"
										th:value="${actionPlanDate}" th:utext="${actionPlanDate}" />
							</select>
						</div>
						<div class="col-sm-1 hidden-print">
							<a id="_loadActionPlan" class="btn btn-default btn-sm"								
								th:href="@{/getActionPlan?entryPoint=onboarding}"> <span
								class="glyphicon glyphicon-road" style="color: green;"
								aria-hidden="true"></span> Retrieve
							</a>
						</div>
						<div class="col-sm-2 hideme print-only">
							<img src="/images/rrnlogo_horz.png" style="width: 150px;" />
						</div>
					</div>

					<h5>This form is to be used to document the plan of action to
						be taken to address a resident’s needs.</h5>

					<table
						class="table table-responsive table-bordered table-condensed text-center"
						style="background-color: ghostwhite;">
						<thead>
							<th class="text-center">ID</th>
							<th class="text-center">Resident Name</th>
							<th class="text-center">Property</th>
							<th class="text-center">Address</th>
							<th class="text-center">Phone Number</th>
						</thead>
						<tbody>
							<tr>
								<td><span th:if="*{firstName != null}" id="_residentIdText"
									th:text="*{residentId}"></span></td>
								<td><span th:if="*{firstName != null}"
									th:text="*{firstName}">&nbsp;</span> <span
									th:if="*{middle != null}" th:text="*{middle}">&nbsp;</span> <span
									th:if="*{lastName != null}" th:text="*{lastName}"></span></td>
								<td><span th:text="*{propertyName}">&nbsp;</span></td>
								<td><span th:text="*{address}">&nbsp;</span></td>
								<td><span th:text="*{voiceMail}">&nbsp;</span></td>
							</tr>
						</tbody>
					</table>

					<div class="row">
						<div class="col-sm-6">
							<div class="col-sm-9">
								<strong><span id="_ssmDate">Date of most recent
										Self-Sufficiency assessment:</span></strong>
							</div>
							<div class="col-sm-3">
								<span th:text="*{mostRecentSSMDate}">&nbsp;</span>
							</div>
						</div>

						<div class="col-sm-3">
							<div class="col-sm-6">
								<strong><span id="_todaysDate">Date Added:</span></strong>
							</div>
							<div class="col-sm-3">
								<span th:text="*{actionPlanDateAdded}">&nbsp;</span>
							</div>
						</div>

						<div class="col-sm-3">
							<div class="col-sm-7">
								<strong><span id="_todaysDate">Date Modified:</span></strong>
							</div>
							<div class="col-sm-3">
								<span th:text="*{actionPlanDateModified}">&nbsp;</span>
							</div>
						</div>
					</div>

					<hr class="solidline1">

					<table id="_currentSSMTable"
						class="table table-responsive table-bordered table-condensed text-center"
						style="background-color: ghostwhite;">
						<caption>
							<strong>Current Self-Sufficiency Levels for Domain(s):</strong>
						</caption>
						<thead>
							<th class="text-center">DOMAIN</th>
							<th class="text-center" colspan="5">SELF-SUFFICIENCY SCORE</th>
						</thead>
						<tbody>
							<tr>
								<td>Housing</td>
								<td id="_housingSSM1">In Crisis (1)</td>
								<td id="_housingSSM2">Vulnerable (2)</td>
								<td id="_housingSSM3">Stable (3)</td>
								<td id="_housingSSM4">Building Capacity (4)</td>
								<td id="_housingSSM5">Empowered (5)</td>
							</tr>
							<tr>
								<td>Money Management</td>
								<td id="_moneySSM1">In Crisis (1)</td>
								<td id="_moneySSM2">Vulnerable (2)</td>
								<td id="_moneySSM3">Stable (3)</td>
								<td id="_moneySSM4">Building Capacity (4)</td>
								<td id="_moneySSM5">Empowered (5)</td>
							</tr>
							<tr>
								<td>Employment</td>
								<td id="_employmentSSM1">In Crisis (1)</td>
								<td id="_employmentSSM2">Vulnerable (2)</td>
								<td id="_employmentSSM3">Stable (3)</td>
								<td id="_employmentSSM4">Building Capacity (4)</td>
								<td id="_employmentSSM5">Empowered (5)</td>
							</tr>
							<tr>
								<td>Education</td>
								<td id="_educationSSM1">In Crisis (1)</td>
								<td id="_educationSSM2">Vulnerable (2)</td>
								<td id="_educationSSM3">Stable (3)</td>
								<td id="_educationSSM4">Building Capacity (4)</td>
								<td id="_educationSSM5">Empowered (5)</td>
							</tr>
							<tr>
								<td>Network Support</td>
								<td id="_networkSSM1">In Crisis (1)</td>
								<td id="_networkSSM2">Vulnerable (2)</td>
								<td id="_networkSSM3">Stable (3)</td>
								<td id="_networkSSM4">Building Capacity (4)</td>
								<td id="_networkSSM5">Empowered (5)</td>
							</tr>
							<tr>
								<td>Household Management</td>
								<td id="_householdSSM1">In Crisis (1)</td>
								<td id="_householdSSM2">Vulnerable (2)</td>
								<td id="_householdSSM3">Stable (3)</td>
								<td id="_householdSSM4">Building Capacity (4)</td>
								<td id="_householdSSM5">Empowered (5)</td>
							</tr>
						</tbody>
					</table>


					<br />

					<table id="_poa"
						class="table table-responsive table-bordered table-condensed">
						<caption>
							<strong>Referral Source AND Referral Reasons from
								Referral Form:</strong>
						</caption>
						<thead>
							<th class="text-center">Referral Source</th>
							<th class="text-center">Referral Reasons from Referral Form</th>
						</thead>
						<tbody>
							<tr>
								<td><span th:text=*{refValue}></span></td>
								<td id="_refReasons"></td>
							</tr>
						</tbody>
					</table>
					<br />


					<table id="_poaTable"
						class="table table-responsive table-bordered table-condensed">
						<caption>
							<strong>Plan of Action for Each Domain of Focus</strong>
						</caption>
						<thead>
							<th class="text-center">DOMAIN</th>
							<th class="text-center">Plan Of Action</th>
							<th class="text-center">Plan Details</th>
							<th class="text-center">Referral Partner</th>
							<th class="text-center">Anticipated Outcomes</th>
							<th class="text-center">Anticipated Date</th>
						</thead>
						<tbody>
							<tr>
								<td>HOUSING</td>
								<td><select class="form-control input-sm setable"
									id="_planOfActionHousing">
										<option value="">Select</option>
										<option value="Advocacy">Advocacy</option>
										<option value="Assessments">Assessments</option>
										<option value="Benefits/Insurance">Benefits/Insurance</option>
										<option value="Case Management">Case Management</option>
										<option value="Child/day care">Child/day care</option>
										<option value="Computer training">Computer training</option>
										<option value="Conflct resolution">Conflct resolution</option>
										<option value="Crisis intervention">Crisis
											intervention</option>
										<option value="Education program (GED, etc.)">Education
											program (GED, etc.)</option>
										<option value="Emergency assistance">Emergency
											assistance</option>
										<option value="Family support">Family support</option>
										<option value="Finanicial management/literacy">Finanicial
											management/literacy</option>
										<option value="Financial aid">Financial aid</option>
										<option value="Healthcare">Healthcare</option>
										<option value="Home management">Home management</option>
										<option value="Homemaker">Homemaker</option>
										<option value="Home ownership">Home ownership</option>
										<option value="Job readiness">Job readiness</option>
										<option value="Lease intervention">Lease intervention</option>
										<option value="Leagal assistance">Leagal assistance</option>
										<option value="Meals">Meals</option>
										<option value="Mental health">Mental health</option>
										<option value="Monitoring">Monitoring</option>
										<option value="Parenting">Parenting</option>
										<option value="Prescriptions">Prescriptions</option>
										<option value="School intervention">School
											intervention</option>
										<option value="Substance abuse">Substance abuse</option>
										<option value="Transportation">Transportation</option>
										<option value="Veteran services">Veteran services</option>
										<option value="Vocational training">Vocational training</option>
										<option value="Youth programs">Youth programs</option>
										<option value="Other">Other</option>

								</select></td>
								<td><textarea class="form-control input-sm" rows="1"
										id="_planDetailsHousing" style="resize: none;"
										onkeyup="validateInput(this)" draggable="false"></textarea></td>
								<td><textarea class="form-control input-sm" rows="1"
										id="_referralPartnerHousing" style="resize: none;"
										onkeyup="validateInput(this)" draggable="false"></textarea></td>
								<td><select class="form-control input-sm setable"
									id="_aoHousing">
										<option value="">Select</option>
										<option th:each="ao : ${resident.anticipatedOutcomesList}"
											th:value="${ao}" th:utext="${ao}" />
								</select></td>
								<td><input class="form-control input-sm" type="text"
									id="_inputDateTextAnticipatedHousing" maxlength="10" value=""
									placeholder="MM/DD/YYYY" /></td>
							</tr>
							<tr>
								<td>MONEY MANAGEMENT</td>
								<td><select class="form-control input-sm setable"
									id="_planOfActionMM">
										<option value="">Select</option>
										<option value="Advocacy">Advocacy</option>
										<option value="Assessments">Assessments</option>
										<option value="Benefits/Insurance">Benefits/Insurance</option>
										<option value="Case Management">Case Management</option>
										<option value="Child/day care">Child/day care</option>
										<option value="Computer training">Computer training</option>
										<option value="Conflct resolution">Conflct resolution</option>
										<option value="Crisis intervention">Crisis
											intervention</option>
										<option value="Education program (GED, etc.)">Education
											program (GED, etc.)</option>
										<option value="Emergency assistance">Emergency
											assistance</option>
										<option value="Family support">Family support</option>
										<option value="Finanicial management/literacy">Finanicial
											management/literacy</option>
										<option value="Financial aid">Financial aid</option>
										<option value="Healthcare">Healthcare</option>
										<option value="Home management">Home management</option>
										<option value="Homemaker">Homemaker</option>
										<option value="Home ownership">Home ownership</option>
										<option value="Job readiness">Job readiness</option>
										<option value="Lease intervention">Lease intervention</option>
										<option value="Leagal assistance">Leagal assistance</option>
										<option value="Meals">Meals</option>
										<option value="Mental health">Mental health</option>
										<option value="Monitoring">Monitoring</option>
										<option value="Parenting">Parenting</option>
										<option value="Prescriptions">Prescriptions</option>
										<option value="School intervention">School
											intervention</option>
										<option value="Substance abuse">Substance abuse</option>
										<option value="Transportation">Transportation</option>
										<option value="Veteran services">Veteran services</option>
										<option value="Vocational training">Vocational training</option>
										<option value="Youth programs">Youth programs</option>
										<option value="Other">Other</option>

								</select></td>
								<td><textarea class="form-control input-sm" rows="1"
										id="_planDetailsMM" style="resize: none;"
										onkeyup="validateInput(this)" draggable="false"></textarea></td>
								<td><textarea class="form-control input-sm" rows="1"
										id="_referralPartnerMM" style="resize: none;"
										onkeyup="validateInput(this)" draggable="false"></textarea></td>
								<td><select class="form-control input-sm setable"
									id="_aoMM">
										<option value="">Select</option>
										<option th:each="ao : ${resident.anticipatedOutcomesList}"
											th:value="${ao}" th:utext="${ao}" />
								</select></td>
								<td><input class="form-control input-sm" type="text"
									id="_inputDateTextAnticipatedMM" maxlength="10" value=""
									placeholder="MM/DD/YYYY" /></td>
							</tr>
							<tr>
								<td>EMPLOYMENT</td>
								<td><select class="form-control input-sm setable"
									id="_planOfActionEmp">
										<option value="">Select</option>
										<option value="Advocacy">Advocacy</option>
										<option value="Assessments">Assessments</option>
										<option value="Benefits/Insurance">Benefits/Insurance</option>
										<option value="Case Management">Case Management</option>
										<option value="Child/day care">Child/day care</option>
										<option value="Computer training">Computer training</option>
										<option value="Conflct resolution">Conflct resolution</option>
										<option value="Crisis intervention">Crisis
											intervention</option>
										<option value="Education program (GED, etc.)">Education
											program (GED, etc.)</option>
										<option value="Emergency assistance">Emergency
											assistance</option>
										<option value="Family support">Family support</option>
										<option value="Finanicial management/literacy">Finanicial
											management/literacy</option>
										<option value="Financial aid">Financial aid</option>
										<option value="Healthcare">Healthcare</option>
										<option value="Home management">Home management</option>
										<option value="Homemaker">Homemaker</option>
										<option value="Home ownership">Home ownership</option>
										<option value="Job readiness">Job readiness</option>
										<option value="Lease intervention">Lease intervention</option>
										<option value="Leagal assistance">Leagal assistance</option>
										<option value="Meals">Meals</option>
										<option value="Mental health">Mental health</option>
										<option value="Monitoring">Monitoring</option>
										<option value="Parenting">Parenting</option>
										<option value="Prescriptions">Prescriptions</option>
										<option value="School intervention">School
											intervention</option>
										<option value="Substance abuse">Substance abuse</option>
										<option value="Transportation">Transportation</option>
										<option value="Veteran services">Veteran services</option>
										<option value="Vocational training">Vocational training</option>
										<option value="Youth programs">Youth programs</option>
										<option value="Other">Other</option>

								</select></td>
								<td><textarea class="form-control input-sm" rows="1"
										id="_planDetailsEmp" style="resize: none;"
										onkeyup="validateInput(this)" draggable="false"></textarea></td>
								<td><textarea class="form-control input-sm" rows="1"
										id="_referralPartnerEmp" style="resize: none;"
										onkeyup="validateInput(this)" draggable="false"></textarea></td>
								<td><select class="form-control input-sm setable"
									id="_aoEmp">
										<option value="">Select</option>
										<option th:each="ao : ${resident.anticipatedOutcomesList}"
											th:value="${ao}" th:utext="${ao}" />
								</select></td>
								<td><input class="form-control input-sm" type="text"
									id="_inputDateTextAnticipatedEmp" maxlength="10" value=""
									placeholder="MM/DD/YYYY" /></td>
							</tr>
							<tr>
								<td>EDUCATION</td>
								<td><select class="form-control input-sm setable"
									id="_planOfActionEdu">
										<option value="">Select</option>
										<option value="Advocacy">Advocacy</option>
										<option value="Assessments">Assessments</option>
										<option value="Benefits/Insurance">Benefits/Insurance</option>
										<option value="Case Management">Case Management</option>
										<option value="Child/day care">Child/day care</option>
										<option value="Computer training">Computer training</option>
										<option value="Conflct resolution">Conflct resolution</option>
										<option value="Crisis intervention">Crisis
											intervention</option>
										<option value="Education program (GED, etc.)">Education
											program (GED, etc.)</option>
										<option value="Emergency assistance">Emergency
											assistance</option>
										<option value="Family support">Family support</option>
										<option value="Finanicial management/literacy">Finanicial
											management/literacy</option>
										<option value="Financial aid">Financial aid</option>
										<option value="Healthcare">Healthcare</option>
										<option value="Home management">Home management</option>
										<option value="Homemaker">Homemaker</option>
										<option value="Home ownership">Home ownership</option>
										<option value="Job readiness">Job readiness</option>
										<option value="Lease intervention">Lease intervention</option>
										<option value="Leagal assistance">Leagal assistance</option>
										<option value="Meals">Meals</option>
										<option value="Mental health">Mental health</option>
										<option value="Monitoring">Monitoring</option>
										<option value="Parenting">Parenting</option>
										<option value="Prescriptions">Prescriptions</option>
										<option value="School intervention">School
											intervention</option>
										<option value="Substance abuse">Substance abuse</option>
										<option value="Transportation">Transportation</option>
										<option value="Veteran services">Veteran services</option>
										<option value="Vocational training">Vocational training</option>
										<option value="Youth programs">Youth programs</option>
										<option value="Other">Other</option>

								</select></td>
								<td><textarea class="form-control input-sm" rows="1"
										id="_planDetailsEdu" style="resize: none;"
										onkeyup="validateInput(this)" draggable="false"></textarea></td>
								<td><textarea class="form-control input-sm" rows="1"
										id="_referralPartnerEdu" style="resize: none;"
										onkeyup="validateInput(this)" draggable="false"></textarea></td>
								<td><select class="form-control input-sm setable"
									id="_aoEdu">
										<option value="">Select</option>
										<option th:each="ao : ${resident.anticipatedOutcomesList}"
											th:value="${ao}" th:utext="${ao}" />
								</select></td>
								<td><input class="form-control input-sm" type="text"
									id="_inputDateTextAnticipatedEdu" maxlength="10" value=""
									placeholder="MM/DD/YYYY" /></td>
							</tr>
							<tr>
								<td>NETWORK SUPPORT</td>
								<td><select class="form-control input-sm setable"
									id="_planOfActionNS">
										<option value="">Select</option>
										<option value="Advocacy">Advocacy</option>
										<option value="Assessments">Assessments</option>
										<option value="Benefits/Insurance">Benefits/Insurance</option>
										<option value="Case Management">Case Management</option>
										<option value="Child/day care">Child/day care</option>
										<option value="Computer training">Computer training</option>
										<option value="Conflct resolution">Conflct resolution</option>
										<option value="Crisis intervention">Crisis
											intervention</option>
										<option value="Education program (GED, etc.)">Education
											program (GED, etc.)</option>
										<option value="Emergency assistance">Emergency
											assistance</option>
										<option value="Family support">Family support</option>
										<option value="Finanicial management/literacy">Finanicial
											management/literacy</option>
										<option value="Financial aid">Financial aid</option>
										<option value="Healthcare">Healthcare</option>
										<option value="Home management">Home management</option>
										<option value="Homemaker">Homemaker</option>
										<option value="Home ownership">Home ownership</option>
										<option value="Job readiness">Job readiness</option>
										<option value="Lease intervention">Lease intervention</option>
										<option value="Leagal assistance">Leagal assistance</option>
										<option value="Meals">Meals</option>
										<option value="Mental health">Mental health</option>
										<option value="Monitoring">Monitoring</option>
										<option value="Parenting">Parenting</option>
										<option value="Prescriptions">Prescriptions</option>
										<option value="School intervention">School
											intervention</option>
										<option value="Substance abuse">Substance abuse</option>
										<option value="Transportation">Transportation</option>
										<option value="Veteran services">Veteran services</option>
										<option value="Vocational training">Vocational training</option>
										<option value="Youth programs">Youth programs</option>
										<option value="Other">Other</option>

								</select></td>
								<td><textarea class="form-control input-sm" rows="1"
										id="_planDetailsNS" style="resize: none;"
										onkeyup="validateInput(this)" draggable="false"></textarea></td>
								<td><textarea class="form-control input-sm" rows="1"
										id="_referralPartnerNS" style="resize: none;"
										onkeyup="validateInput(this)" draggable="false"></textarea></td>
								<td><select class="form-control input-sm setable"
									id="_aoNS">
										<option value="">Select</option>
										<option th:each="ao : ${resident.anticipatedOutcomesList}"
											th:value="${ao}" th:utext="${ao}" />
								</select></td>
								<td><input class="form-control input-sm" type="text"
									id="_inputDateTextAnticipatedNS" maxlength="10" value=""
									placeholder="MM/DD/YYYY" /></td>
							</tr>
							<tr>
								<td>HOUSEHOLD</td>
								<td><select class="form-control input-sm setable"
									id="_planOfActionHH">
										<option value="">Select</option>
										<option value="Advocacy">Advocacy</option>
										<option value="Assessments">Assessments</option>
										<option value="Benefits/Insurance">Benefits/Insurance</option>
										<option value="Case Management">Case Management</option>
										<option value="Child/day care">Child/day care</option>
										<option value="Computer training">Computer training</option>
										<option value="Conflct resolution">Conflct resolution</option>
										<option value="Crisis intervention">Crisis
											intervention</option>
										<option value="Education program (GED, etc.)">Education
											program (GED, etc.)</option>
										<option value="Emergency assistance">Emergency
											assistance</option>
										<option value="Family support">Family support</option>
										<option value="Finanicial management/literacy">Finanicial
											management/literacy</option>
										<option value="Financial aid">Financial aid</option>
										<option value="Healthcare">Healthcare</option>
										<option value="Home management">Home management</option>
										<option value="Homemaker">Homemaker</option>
										<option value="Home ownership">Home ownership</option>
										<option value="Job readiness">Job readiness</option>
										<option value="Lease intervention">Lease intervention</option>
										<option value="Leagal assistance">Leagal assistance</option>
										<option value="Meals">Meals</option>
										<option value="Mental health">Mental health</option>
										<option value="Monitoring">Monitoring</option>
										<option value="Parenting">Parenting</option>
										<option value="Prescriptions">Prescriptions</option>
										<option value="School intervention">School
											intervention</option>
										<option value="Substance abuse">Substance abuse</option>
										<option value="Transportation">Transportation</option>
										<option value="Veteran services">Veteran services</option>
										<option value="Vocational training">Vocational training</option>
										<option value="Youth programs">Youth programs</option>
										<option value="Other">Other</option>

								</select></td>
								<td><textarea class="form-control input-sm" rows="1"
										id="_planDetailsHH" style="resize: none;"
										onkeyup="validateInput(this)" draggable="false"></textarea></td>
								<td><textarea class="form-control input-sm" rows="1"
										id="_referralPartnerHH" style="resize: none;"
										onkeyup="validateInput(this)" draggable="false"></textarea></td>
								<td><select class="form-control input-sm setable"
									id="_aoHH">
										<option value="">Select</option>
										<option th:each="ao : ${resident.anticipatedOutcomesList}"
											th:value="${ao}" th:utext="${ao}" />
								</select></td>
								<td><input class="form-control input-sm" type="text"
									id="_inputDateTextAnticipatedHH" maxlength="10" value=""
									placeholder="MM/DD/YYYY" /></td>
							</tr>
						</tbody>
					</table>

					<br />
					<div class="row hidden-print">
						<div class="col-sm-2  control-label">Follow-Up Notes</div>
						<div class="col-sm-10">
							<textarea class="form-control" rows="2" id="_followUpNotes"
								th:field="*{followUpNotes}" th:value="*{followUpNotes}"
								onkeyup="validateInput(this)"></textarea>
						</div>
					</div>


					<table class="table table-condensed hideme print-only">
						<thead>
							<th class="text-center">Follow-Up Notes</th>
						</thead>
						<tbody>
							<tr>
								<td id="_followUpNotesPrint" style="width: 1100px"></td>
							</tr>
						</tbody>
					</table>

					<table id="_outcomesTable"
						class="table table-responsive table-bordered table-condensed">
						<caption>
							<strong>Outcomes Achieved</strong>
						</caption>
						<thead>
							<th class="text-center">DOMAIN</th>
							<th class="text-center">Outcomes Achieved</th>
							<th class="text-center">Achieved Self-Sufficiency Goal</th>
							<th class="text-center">Completion Date</th>
						</thead>
						<tbody>
							<tr>
								<td>HOUSING</td>
								<td><select class="form-control input-sm setable"
									id="_outAchHousing">
										<option value="">Select</option>
										<option th:each="ao : ${resident.anticipatedOutcomesList}"
											th:value="${ao}" th:utext="${ao}" />
								</select></td>
								<td><select class="form-control input-sm setable"
									id="_achGoalHousing">
										<option value="">Select</option>
										<option value="Yes">Yes</option>
										<option value="No">No</option>
								</select></td>
								<td><input class="form-control input-sm" type="text"
									id="_inputDateTextHousing" value="" placeholder="MM/DD/YYYY" /></td>
							</tr>
							<tr>
								<td>MONEY MANAGEMENT</td>
								<td><select class="form-control input-sm setable"
									id="_outAchMM">
										<option value="">Select</option>
										<option th:each="ao : ${resident.anticipatedOutcomesList}"
											th:value="${ao}" th:utext="${ao}" />
								</select></td>
								<td><select class="form-control input-sm setable"
									id="_achGoalMM">
										<option value="">Select</option>
										<option value="Yes">Yes</option>
										<option value="No">No</option>

								</select></td>
								<td><input class="form-control input-sm" type="text"
									id="_inputDateTextMM" value="" placeholder="MM/DD/YYYY" /></td>
							</tr>
							<tr>
								<td>EMPLOYMENT</td>
								<td><select class="form-control input-sm setable"
									id="_outAchEmp">
										<option value="">Select</option>
										<option th:each="ao : ${resident.anticipatedOutcomesList}"
											th:value="${ao}" th:utext="${ao}" />
								</select></td>
								<td><select class="form-control input-sm setable"
									id="_achGoalEmp">
										<option value="">Select</option>
										<option value="Yes">Yes</option>
										<option value="No">No</option>

								</select></td>
								<td><input class="form-control input-sm" type="text"
									id="_inputDateTextEmp" value="" placeholder="MM/DD/YYYY" /></td>
							</tr>
							<tr>
								<td>EDUCATION</td>
								<td><select class="form-control input-sm setable"
									id="_outAchEdu">
										<option value="">Select</option>
										<option th:each="ao : ${resident.anticipatedOutcomesList}"
											th:value="${ao}" th:utext="${ao}" />
								</select></td>
								<td><select class="form-control input-sm setable"
									id="_achGoalEdu">
										<option value="">Select</option>
										<option value="Yes">Yes</option>
										<option value="No">No</option>

								</select></td>
								<td><input class="form-control input-sm" type="text"
									id="_inputDateTextEdu" value="" placeholder="MM/DD/YYYY" /></td>
							</tr>
							<tr>
								<td>NETWORK SUPPORT</td>
								<td><select class="form-control input-sm setable"
									id="_outAchNS">
										<option value="">Select</option>
										<option th:each="ao : ${resident.anticipatedOutcomesList}"
											th:value="${ao}" th:utext="${ao}" />
								</select></td>
								<td><select class="form-control setable" id="_achGoalNS">
										<option value="">Select</option>
										<option value="Yes">Yes</option>
										<option value="No">No</option>

								</select></td>
								<td><input class="form-control input-sm" type="text"
									id="_inputDateTextNS" value="" placeholder="MM/DD/YYYY" /></td>
							</tr>
							<tr>
								<td>HOUSEHOLD</td>
								<td><select class="form-control input-sm setable"
									id="_outAchHH">
										<option value="">Select</option>
										<option th:each="ao : ${resident.anticipatedOutcomesList}"
											th:value="${ao}" th:utext="${ao}" />
								</select></td>
								<td><select class="form-control input-sm setable"
									id="_achGoalHH">
										<option value="">Select</option>
										<option value="Yes">Yes</option>
										<option value="No">No</option>
								</select></td>
								<td><input class="form-control input-sm" type="text"
									id="_inputDateTextHH" maxlength="10" value=""
									placeholder="MM/DD/YYYY" /></td>
							</tr>
						</tbody>
					</table>

					<br /> <br /> <br />
					<div class="row text-center">
						<strong>NOTE:</strong>&nbsp;To the extent possible, outcomes
						selected should reflect those included in RRN’s Service
						Coordination Model
					</div>

					<div class="row text-center bs-linebreak hidden-print">
						<!-- Following all passed to ResidentController upon Submit, please look onclick method of save for building each JSON String-->
						<input type="hidden" th:field="*{serviceCoord}" /> <input
							type="hidden" th:field="*{residentId}" />  <input type="hidden"
							id="_planOfActionString" th:field="*{planOfAction}"
							th:value="*{planOfAction}" /> <input type="hidden"
							id="_planDetailsString" th:field="*{planDetails}"
							th:value="*{planDetails}" /> <input type="hidden"
							id="_referralPartnerString" th:field="*{referralPartner}"
							th:value="*{referralPartner}" /> <input type="hidden"
							id="_anticipatedOutcomeString" th:field="*{anticipatedOutcome}"
							th:value="*{anticipatedOutcome}" /> <input type="hidden"
							id="_anticipatedDateString" th:field="*{anticipatedDates}"
							th:value="*{anticipatedDates}" /> <input type="hidden"
							id="_outcomesAchievedString" th:field="*{outcomesAchieved}"
							th:value="*{outcomesAchieved}" /> <input type="hidden"
							id="_achievedGoalString" th:field="*{achievedGoals}"
							th:value="*{achievedGoals}" /> <input type="hidden"
							id="_completionDateString" th:field="*{completionDates}"
							th:value="*{completionDates}" /> <input type="hidden"
							th:field="*{isResident}" /> <input type="hidden" id="_rr"
							th:field="*{referralReason}" />

						<div class="text-danger">
							<span
								th:text="${resident.mostRecentSSMDate=='--'}?'Please complete Self Sufficiency Matrix first.':''"></span>
						</div>		

						<div class="text-danger">
							<span id="_actionPlanErrorMessage" class="hidden-print hideme">There is already an action plan from today's Date, retrieve today's Action Plan from dropdown above to view/modify.</span>
						</div>
								
						<!-- Submit  -->
						<input type="submit" id="_actionPlanSubmit"
							class="btn btn-primary btn-lg" onclick="buildEachJSONString();"
							th:disabled="${resident.mostRecentSSMDate=='--'}?'true':'false'"
							value="Save Action Plan"
							th:title="*{mostRecentSSMDate=='--'}?'Please complete Self Sufficiency Matrix first.':'save'">
					</div>

				</div>
			</form>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="/js/moment.js"></script>
	<script src="/js/moment-timezone.js"></script>
	<script
		src="https://getbootstrap.com/docs/3.3/dist/js/bootstrap.min.js"></script>
	<script src="/js/actionPlan.js"></script>
	<script
		src="https://getbootstrap.com/docs/3.3/assets/js/ie10-viewport-bug-workaround.js"></script>
	<script src="/js/menu.js"></script>

</body>
</html>