<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Resident Resource Network</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="/css/common.css" rel="stylesheet">

<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.navbar-brand>img {
	height: 100%;
}

.navbar-brand {
	padding: 0;
}

.text-danger {
    color: #a94442;
}
</style>

<script type="text/javascript">
    var res = null;
</script>

</head>
<body>

	<!-- Include _menu.html -->
	<th:block th:include="/_menu"></th:block>

	<!-- <div class="container">
		<th:block th:include="/_wizard"></th:block>
	</div> -->
	<div class="container">
		<div id="actionPlan_Form">

			<form name='_actionPlanF' th:action="@{/saveActionPlan}"
				th:object="${resident}" method='POST' class="form-horizontal">

				<div class="col-sm-12 myPanel">
					<div class="row">
						<div class="col-sm-10">
							<h3 style="width: 400px;">ACTION PLAN</h3>
							<span class="hidden-print" style="color: red; font-size: larger;"
								th:if="*{firstName == null}" th:text="${message}"></span>
						</div>
						<div class="col-sm-2 hideme print-only">
							<img src="/images/rrnlogo_horz.png" style="width: 150px;" />
						</div>
					</div>

					<h5>This form is to be used to document the plan of action to
						be taken to address a resident’s needs.</h5>

					<table
						class="table table-responsive table-bordered table-condensed text-center"
						style="background-color: ghostwhite;">
						<thead>
							<th class="text-center">ID</th>
							<th class="text-center">Resident Name</th>
							<th class="text-center">Property</th>
							<th class="text-center">Address</th>
							<th class="text-center">Phone Number</th>
						</thead>
						<tbody>
							<tr>
								<td><span th:if="*{firstName != null}" id="_residentIdText"
									th:text="*{residentId}"></span></td>
								<td><span th:if="*{firstName != null}"
									th:text="*{firstName}">&nbsp;</span> <span
									th:if="*{middle != null}" th:text="*{middle}">&nbsp;</span> <span
									th:if="*{lastName != null}" th:text="*{lastName}"></span></td>
								<td><span th:text="*{propertyName}">&nbsp;</span></td>
								<td><span th:text="*{address}">&nbsp;</span></td>
								<td><span th:text="*{voiceMail}">&nbsp;</span></td>
							</tr>
						</tbody>
					</table>

					<div class="row">
						<div class="col-sm-6">
							<div class="col-sm-9">
								<strong><span id="_ssmDate">Date of most recent
										Self-Sufficiency assessment:</span></strong>
							</div>
							<div class="col-sm-3">
								<span th:text="*{mostRecentSSMDate}">&nbsp;</span>
							</div>
						</div>

						<div class="col-sm-5">
							<div class="col-sm-5">
								<strong><span id="_todaysDate">Today's Date:</span></strong>
							</div>
							<div class="col-sm-3">
								<span id="_currentDate"></span>
							</div>
						</div>
					</div>

					</br> <strong><span>Current Self-Sufficiency Levels for
							Domain(s):</span></strong>

					<table id="_currentSSMTable"
						class="table table-responsive table-bordered table-condensed text-center"
						style="background-color: ghostwhite;">
						<thead>
							<th class="text-center">DOMAIN</th>
							<th class="text-center" colspan="5">SELF-SUFFICIENCY SCORE</th>
						</thead>
						<tbody>
							<tr>
								<td>Housing</td>
								<td id="_housingSSM1">In Crisis (1)</td>
								<td id="_housingSSM2">Vulnerable (2)</td>
								<td id="_housingSSM3">Stable (3)</td>
								<td id="_housingSSM4">Building Capacity (4)</td>
								<td id="_housingSSM5">Empowered (5)</td>
							</tr>
							<tr>
								<td>Money Management</td>
								<td id="_moneySSM1">In Crisis (1)</td>
								<td id="_moneySSM2">Vulnerable (2)</td>
								<td id="_moneySSM3">Stable (3)</td>
								<td id="_moneySSM4">Building Capacity (4)</td>
								<td id="_moneySSM5">Empowered (5)</td>
							</tr>
							<tr>
								<td>Employment</td>
								<td id="_employmentSSM1">In Crisis (1)</td>
								<td id="_employmentSSM2">Vulnerable (2)</td>
								<td id="_employmentSSM3">Stable (3)</td>
								<td id="_employmentSSM4">Building Capacity (4)</td>
								<td id="_employmentSSM5">Empowered (5)</td>
							</tr>
							<tr>
								<td>Education</td>
								<td id="_educationSSM1">In Crisis (1)</td>
								<td id="_educationSSM2">Vulnerable (2)</td>
								<td id="_educationSSM3">Stable (3)</td>
								<td id="_educationSSM4">Building Capacity (4)</td>
								<td id="_educationSSM5">Empowered (5)</td>
							</tr>
							<tr>
								<td>Network Support</td>
								<td id="_networkSSM1">In Crisis (1)</td>
								<td id="_networkSSM2">Vulnerable (2)</td>
								<td id="_networkSSM3">Stable (3)</td>
								<td id="_networkSSM4">Building Capacity (4)</td>
								<td id="_networkSSM5">Empowered (5)</td>
							</tr>
							<tr>
								<td>Household Management</td>
								<td id="_householdSSM1">In Crisis (1)</td>
								<td id="_householdSSM2">Vulnerable (2)</td>
								<td id="_householdSSM3">Stable (3)</td>
								<td id="_householdSSM4">Building Capacity (4)</td>
								<td id="_householdSSM5">Empowered (5)</td>
							</tr>
						</tbody>
					</table>

					<table id="_focusOnDomain"
						class="table table-responsive table-condensed text-center hidden-print">
						<tbody
							<tr>
								<td><strong>Focus of the Action Plan (mark all
										that apply):</strong></td>
								<td><input type="checkbox" name="_housingCheck"
									id="_housingCheck"><label for="_housingCheck">&nbsp;Housing&nbsp;</label></td>
								<td><input type="checkbox" name="_mmCheck" id="_mmCheck"><label
									for="_mmCheck">&nbsp;Money Management&nbsp;</label></td>
								<td><input type="checkbox" name="_empCheck" id="_empCheck"><label
									for="_empCheck">&nbsp;Employment&nbsp;</label></td>
								<td><input type="checkbox" name="_eduCheck" id="_eduCheck"><label
									for="_eduCheck">&nbsp;Education&nbsp;</label></td>
								<td><input type="checkbox" name="_nsCheck" id="_nsCheck"><label
									for="_nsCheck">&nbsp;Network Support&nbsp;</label></td>
								<td><input type="checkbox" name="_hhCheck" id="_hhCheck"><label
									for="_hhCheck">&nbsp;Household Management</label></td>
							</tr>
						</tbody>
					</table>

					<!-- <div class="input-group">
						<div class="input-group-addon">Resident's Reported Concerns</div>
						<textarea class="form-control" rows="3"></textarea>
					</div> -->

					<div class="row hidden-print">
						<div class="col-sm-2  control-label">Resident's Reported
							Concerns</div>
						<div class="col-sm-10">
							<textarea class="form-control" rows="2"
								th:field="*{residentReportedConcern}"
								th:value="*{residentReportedConcern}"
							    onkeyup="validateInput(this)"
							></textarea>
						</div>
					</div>

					
						<table class="table table-condensed table-bordered hideme print-only">
							<thead>
								<th class="text-center">Resident's Reported Concerns</th>
							</thead>
							<tbody>
								<tr>
									<td id="_rrcPrint" style="width:90%"></td>
								</tr>
							</tbody>
						</table>
					

					<br />
					<div class="row hidden-print">
						<div class="col-sm-12 text-center">
							<strong>Plan of Action for Each Domain of Focus</strong>
						</div>
						<div class="col-sm-2 control-label">Housing</div>
						<div class="col-sm-10">
							<textarea class="form-control" rows="1" id="_planOfActionHousing"></textarea>
						</div>
						<div class="col-sm-2 control-label">Money Management</div>
						<div class="col-sm-10">
							<textarea class="form-control" rows="1" id="_planOfActionMM"></textarea>
						</div>
						<div class="col-sm-2 control-label">Employment</div>
						<div class="col-sm-10">
							<textarea class="form-control" rows="1" id="_planOfActionEmp"></textarea>
						</div>
						<div class="col-sm-2 control-label">Education</div>
						<div class="col-sm-10">
							<textarea class="form-control" rows="1" id="_planOfActionEdu"></textarea>
						</div>
						<div class="col-sm-2 control-label">Network Support</div>
						<div class="col-sm-10">
							<textarea class="form-control" rows="1" id="_planOfActionNS"></textarea>
						</div>
						<div class="col-sm-2 control-label">Household Management</div>
						<div class="col-sm-10">
							<textarea class="form-control" rows="1" id="_planOfActionHH"></textarea>
						</div>
					</div>

					
						<table class="table table-condensed table-bordered hideme print-only" >
							<thead>
								<th class="text-center" colspan="2">Plan of Action for Each
									Domain of Focus</th>
							</thead>
							<tbody>
								<tr>
									<td><strong>Domain</strong></td>
									<td><strong>Plan of Action</strong></td>
								</tr>
								<tr>
									<td>HOUSING</td>
									<td id="_housingPOA"></td>
								</tr>
								<tr>
									<td>MONEY MANAGEMENT</td>
									<td id="_mmPOA"></td>
								</tr>
								<tr>
									<td>EMPLOYMENT</td>
									<td id="_empPOA"></td>
								</tr>
								<tr>
									<td>EDUCATION</td>
									<td id="_eduPOA"></td>
								</tr>
								<tr>
									<td>NETWORK SUPPORT</td>
									<td id="_nsPOA"></td>
								</tr>
								<tr>
									<td style="width:400px">HOUSEHOLD MANAGEMENT</td>
									<td id="_hhPOA" style="width:700px"></td>
								</tr>

							</tbody>

						</table>
		

					<br />
					<div class="row hidden-print">
						<div class="col-sm-12 text-center">
							<strong>Anticipated Outcome for Each Domain of Focus</strong>
						</div>
						<div class="col-sm-2 control-label">Housing</div>
						<div class="col-sm-10">
							<textarea class="form-control" rows="1"
								id="_anticipatedOutcomeHousing"></textarea>
						</div>
						<div class="col-sm-2 control-label">Money Management</div>
						<div class="col-sm-10">
							<textarea class="form-control" rows="1"
								id="_anticipatedOutcomeMM"></textarea>
						</div>
						<div class="col-sm-2 control-label">Employment</div>
						<div class="col-sm-10">
							<textarea class="form-control" rows="1"
								id="_anticipatedOutcomeEmp"></textarea>
						</div>
						<div class="col-sm-2 control-label">Education</div>
						<div class="col-sm-10">
							<textarea class="form-control" rows="1"
								id="_anticipatedOutcomeEdu"></textarea>
						</div>
						<div class="col-sm-2 control-label">Network Support</div>
						<div class="col-sm-10">
							<textarea class="form-control" rows="1"
								id="_anticipatedOutcomeNS"></textarea>
						</div>
						<div class="col-sm-2 control-label">Household Management</div>
						<div class="col-sm-10">
							<textarea class="form-control" rows="1"
								id="_anticipatedOutcomeHH"></textarea>
						</div>
					</div>

					
						<table class="table table-condensed print-only table-bordered hideme print-only" >
							<thead>
								<th class="text-center" colspan="2">Anticipated Outcome for
									Each Domain of Focus</th>
							</thead>
							<tbody>
								<tr>
									<td><strong>Domain</strong></td>
									<td><strong>Anticipated Outcome</strong></td>
								</tr>
								<tr>
									<td>HOUSING</td>
									<td id="_housingAnOut"></td>
								</tr>
								<tr>
									<td>MONEY MANAGEMENT</td>
									<td id="_mmAnOut"></td>
								</tr>
								<tr>
									<td>EMPLOYMENT</td>
									<td id="_empAnOut"></td>
								</tr>
								<tr>
									<td>EDUCATION</td>
									<td id="_eduAnOut"></td>
								</tr>
								<tr>
									<td>NETWORK SUPPORT</td>
									<td id="_nsAnOut"></td>
								</tr>
								<tr>
									<td>HOUSEHOLD MANAGEMENT</td>
									<td id="_hhAnOut"></td>
								</tr>

								<tr>
									<td>Resident’s Signature:</td>
									<td>Date:</td>
								</tr>

								<tr>
									<td>Community Manager’s Signature:</td>
									<td>Date:</td>
								</tr>

								<tr>
									<td style="width:400px">Service Coordinator’s Signature:</td>
									<td style="width:700px">Date:</td>
								</tr>

							</tbody>

						</table>
					
					<br />
					<div class="row hidden-print">
						<div class="col-sm-2  control-label">Follow-Up Notes</div>
						<div class="col-sm-10">
							<textarea class="form-control" rows="2"
								th:field="*{followUpNotes}" th:value="*{followUpNotes}"></textarea>
						</div>
					</div>

					
						<table class="table table-condensed hideme print-only">
							<thead>
								<th class="text-center">Follow-Up Notes</th>
							</thead>
							<tbody>
								<tr>
									<td id="_rrcPrint" style="width:1100px"></td>
								</tr>
							</tbody>
						</table>
					
					<br />
					<div class="row hidden-print">
						<div class="col-sm-12 text-center">
							<strong>Outcomes Achieved</strong>
						</div>
						<div class="col-sm-2 control-label">Housing</div>
						<div class="col-sm-10">
							<textarea class="form-control" rows="1"
								id="_outcomesAchievedHousing"></textarea>
						</div>
						<div class="col-sm-2 control-label">Money Management</div>
						<div class="col-sm-10">
							<textarea class="form-control" rows="1" id="_outcomesAchievedMM"></textarea>
						</div>
						<div class="col-sm-2 control-label">Employment</div>
						<div class="col-sm-10">
							<textarea class="form-control" rows="1" id="_outcomesAchievedEmp"></textarea>
						</div>
						<div class="col-sm-2 control-label">Education</div>
						<div class="col-sm-10">
							<textarea class="form-control" rows="1" id="_outcomesAchievedEdu"></textarea>
						</div>
						<div class="col-sm-2 control-label">Network Support</div>
						<div class="col-sm-10">
							<textarea class="form-control" rows="1" id="_outcomesAchievedNS"></textarea>
						</div>
						<div class="col-sm-2 control-label">Household Management</div>
						<div class="col-sm-10">
							<textarea class="form-control" rows="1" id="_outcomesAchievedHH"></textarea>
						</div>
					</div>
					
					
						<table class="table table-condensed print-only table-bordered hideme print-only" >
							<thead>
								<th class="text-center" colspan="2">Outcomes Achieved</th>
							</thead>
							<tbody>
								<tr>
									<td><strong>Domain</strong></td>
									<td><strong>Outcomes Achieved</strong></td>
								</tr>
								<tr>
									<td>HOUSING</td>
									<td id="_housingOutAch"></td>
								</tr>
								<tr>
									<td>MONEY MANAGEMENT</td>
									<td id="_mmOutAch"></td>
								</tr>
								<tr>
									<td>EMPLOYMENT</td>
									<td id="_empOutAch"></td>
								</tr>
								<tr>
									<td>EDUCATION</td>
									<td id="_eduOutAch"></td>
								</tr>
								<tr>
									<td>NETWORK SUPPORT</td>
									<td id="_nsOutAch"></td>
								</tr>
								<tr>
									<td>HOUSEHOLD MANAGEMENT</td>
									<td id="_hhOutAch"></td>
								</tr>
																
								<tr>
									<td style="width:400px">Service Coordinator’s Signature:</td>
									<td style="width:700px">Date:</td>
								</tr>

							</tbody>

						</table>
					

					<br /> <br /> <br />
					<div class="row text-center">
						<strong>NOTE:</strong>&nbsp;To the extent possible, outcomes
						selected should reflect those included in RRN’s Service
						Coordination Model
					</div>

					<div class="row text-center bs-linebreak hidden-print">
						<!-- Following all passed to ResidentController upon Submit, please look onclick method of save for building each JSON String-->
						<input type="hidden" th:field="*{serviceCoord}" /> <input
							type="hidden" th:field="*{residentId}" /> <input type="hidden"
							id="_focusString" th:field="*{focusOnActionPlan}"
							th:value="*{focusOnActionPlan}" /> <input type="hidden"
							id="_planOfActionString" th:field="*{planOfAction}"
							th:value="*{planOfAction}" /> <input type="hidden"
							id="_anticipatedOutcomeString" th:field="*{anticipatedOutcome}"
							th:value="*{anticipatedOutcome}" /> <input type="hidden"
							id="_outcomesAchievedString" th:field="*{outcomesAchieved}"
							th:value="*{outcomesAchieved}" />
							<input
							type="hidden" th:field="*{isResident}" />

						<div><span th:display="${resident.mostRecentSSMDate=='--'}?'block':'none'" style="color:red;font-weight:bold">Please complete Self Sufficiency Matrix first.</span></div>
						<!-- Submit  -->
						<input type="submit" id="_actionPlanSubmit"
							class="btn btn-primary btn-lg" onclick="buildEachJSONString();" th:disabled="${resident.mostRecentSSMDate!='--'}?'disabled':'false'"
							value="Save Action Plan" th:title="*{mostRecentSSMDate=='--'}?'Please complete Self Sufficiency Matrix first.':'save'">
					</div>

				</div>
			</form>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script
		src="https://getbootstrap.com/docs/3.3/dist/js/bootstrap.min.js"></script>
	<script src="/js/actionPlan.js"></script>
	<script
		src="https://getbootstrap.com/docs/3.3/assets/js/ie10-viewport-bug-workaround.js"></script>
	<script src="/js/menu.js"></script>

</body>
</html>