<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Resident Resource Network</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="/css/common.css" rel="stylesheet">
<link href="/css/datatables.min.css" rel="stylesheet">
<link href="/css/c3.min.css" rel="stylesheet">

<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.navbar-brand>img {
	height: 100%;
}

.navbar-brand {
	padding: 0;
}
</style>

</head>
<body>

	<!-- Include _menu.html -->
	<th:block th:include="../templates/_menu"></th:block>


	<div class="container">
		<!--  th:object="${serviceCoordinator}" -->

		<form th:action="@{/saveServiceCoordinator}" method='POST'
			th:object="${serviceCoordinator}" class="form-horizontal">

			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel-info">
						<div class="panel-heading">

							<div class="row hiddent-print">
								<div class="col-sm-4">
									<span class="panel-title"><strong>All Service
											Coordinators</strong></span>
								</div>
								<div class="col-sm-offset-4 col-sm-2">
									<a id="_loadInactivate" class="btn btn-default btn-sm"
										th:href="@{/inactivateSC?active=false}"> <span
										class="glyphicon glyphicon-ban-circle" style="color: red;"
										aria-hidden="true"></span>&nbsp;Inactivate [SC]
									</a>
								</div>

								<div class="col-sm-2">
									<a id="_loadActivate" class="btn btn-default btn-sm"
										th:href="@{/activateSC?active=true}"> <span
										class="glyphicon glyphicon-flash" style="color: goldenrod;"
										aria-hidden="true"></span>&nbsp;Activate [SC]
									</a>
								</div>

							</div>
						</div>
						<div class="panel-body">
							<div class="col-sm-12">
								<table id="scTable" class="display compact" style="width: 100%">
									<thead>
										<tr>
											<th>Active</th>
											<th>User Name</th>
											<th>Email</th>
											<th>Created On</th>
											<th>Last Login</th>
											<th>Property Name</th>
										</tr>
									</thead>
								</table>
							</div>

							<div class="row text-center bs-linebreak hidden-print">
								<input type="hidden" id="_scId" name="serviceCoordinatorID"
									value="" /> <input type="hidden" id="takenNames"
									name="takenUserNames" th:field="*{allTakenUserNames}" />
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="col-sm-12 myPanel">
				<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
					<ul>
						<li th:each="e : ${#fields.detailedErrors()}"
							th:class="${e.global}? globalerr : fielderr"><span
							th:text="${e.global}? '*' : ${e.fieldName}">The field name</span>
							| <span th:text="${e.message}">The error message</span></li>
					</ul>
				</div>


				<div class="col-sm-10">

					<div class="row">

						<div class="form-group">
							<label for="inputEmail1" class="col-sm-4 control-label">Email
								& User Name</label>
							<div class="col-sm-4">
								<input type="email" class="form-control" id="inputEmail1"
									placeholder="Email" th:field="*{email}">
							</div>
							<div class="col-sm-4">
								<input class="form-control" id="userName1"
									placeholder="User Name" th:field="*{userName}">
							</div>
						</div>

						<div class="form-group">
							<label for="inputPassword1" class="col-sm-4 control-label">Password
								& Confirm</label>
							<div class="col-sm-4">
								<input type="password" class="form-control" id="inputPassword1"
									placeholder="Password" th:field="*{password}">
							</div>
							<div class="col-sm-4">
								<input type="password" class="form-control" id="inputPassword2"
									placeholder="Confirm Password" th:field="*{confirmPassword}">
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-4 col-sm-8">
								<div class="checkbox">
									<label> <input type="checkbox" th:field="*{admin}" id="_isAdmin"
									onclick="adminCheck(this);">
										Is Admin? (Admins have access to all Property)
									</label>
								</div>
							</div>
						</div>

						<div class="form-group">
						
						<div th:each="property, iStat: *{propertyList}">

								<div class="col-sm-3">
								<label>
								<input type="hidden"
										th:field="*{propertyList[__${iStat.index}__].propertyId}" />
								<input type="hidden"
										th:field="*{propertyList[__${iStat.index}__].propertyName}" />
								<input type="checkbox" th:id="_prop_+${property.propertyId}"											
											th:field="*{propertyList[__${iStat.index}__].checked}"
											th:value="${property.checked}"> &nbsp; <span th:text="${property.propertyName}"></span> </label>
								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-4 col-sm-8">
								<input type="submit" id="_serviceCoordForm"
									class="btn btn-primary btn-lg" value="Save Service Coordinator"
									onclick="debugger; validateFields();">
							</div>
						</div>


					</div>




				</div>
			</div>
		</form>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/js/moment.js"></script>
	<script src="/js/moment-timezone.js"></script>
	<script
		src="https://getbootstrap.com/docs/3.3/dist/js/bootstrap.min.js"></script>
	<script
		src="https://getbootstrap.com/docs/3.3/assets/js/ie10-viewport-bug-workaround.js"></script>
	<script src="/js/datatables.min.js"></script>
	<script type="text/javascript"
		src="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.11/js/dataTables.checkboxes.min.js"></script>
	<script src="/js/adminPage.js"></script>
	<script src="/js/menu.js"></script>

	<script>
	function genPassword() {
	    document.getElementById("password").value = "1234"; // Not working: EncryptedPasswordUtils.createRandomPassword();
	};

	function addSC() {
	    var x = document.getElementById("scForm");
	    if (x.style.display == "none") {
		x.style.display = "block";
	    } else {
		x.style.display = "none";
	    }
	};

	function generatePassword() {
	    var length = 10;
	    var charset = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789!@#$%^&*_=+-/.?<>():,;";
	    var generatedPassword = "";
	    for (var i = 0, n = charset.length; i < length; ++i) {
		generatedPassword += charset.charAt(Math.floor(Math.random() * n));
	    }
	    document.getElementById("password").value = generatedPassword;
	}
    </script>

</body>

</html>