<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Resident Resource Network</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link href="/css/common.css" rel="stylesheet">

<link href="/css/datatables.min.css" rel="stylesheet">

<link href="/css/c3.min.css" rel="stylesheet">

<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.navbar-brand>img {
	height: 100%;
}

.navbar-brand {
	padding: 0;
}
</style>

</head>
<body>

	<!-- Include _menu.html -->
	<th:block th:include="/_menu"></th:block>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				<div id="allResidentPieChart" style="min-height: 300px;"></div>
			</div>
			<div class="col-sm-6"></div>
		</div>
	</div>



	<form th:action="@{/getResidentById}" method='POST'>
		<div class="container-fluid hidden-print">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">All Residents</h3>
				</div>
				<div class="panel-body">
					<div class="col-sm-12">
						<table id="residentTable" class="display compact"
							style="width: 100%">
							<thead>
								<tr>
									<th></th>
									<th>ID</th>
									<th>Active</th>
									<th>Full Name</th>
									<th>Property Name</th>
									<th>Voicemail</th>
									<th>Text</th>
									<th>Email</th>
									<th>PVR</th>
									<th>Date Added</th>
									<th>Added By</th>
									<th>Referral</th>
									<th>Address</th>
								</tr>
							</thead>
						</table>
					</div>

					<div class="row text-center bs-linebreak hidden-print">
						<input type="hidden" id="_resId" name="residentId" value="" />

						<button type="submit" id="_loadResident"
							class="btn btn-default btn-lg" disabled>
							<span class="glyphicon glyphicon-user" style="color:blue;" aria-hidden="true"></span>
							Modify Resident
						</button>
						
						<button type="submit" id="_loadSSM"
							class="btn btn-default btn-lg" disabled>
							<span class="glyphicon glyphicon-equalizer" style="color:purple;" aria-hidden="true"></span>
							Begin Assessment
						</button>
						
						<button type="submit" id="_loadSSM"
							class="btn btn-default btn-lg" disabled>
							<span class="glyphicon glyphicon-home" style="color:darkturquoise;" aria-hidden="true"></span>
							Housing
						</button>

						<button type="submit" id="_loadSSM"
							class="btn btn-default btn-lg" disabled>
							<span class="glyphicon glyphicon-usd" style="color:green;" aria-hidden="true"></span>
							Money Management
						</button>

						<button type="submit" id="_loadSSM"
							class="btn btn-default btn-lg" disabled>
							<span class="glyphicon glyphicon-briefcase" style="color:maroon;" aria-hidden="true"></span>
							Employment
						</button>


						<button type="submit" id="_loadSSM"
							class="btn btn-default btn-lg" disabled>
							<span class="glyphicon glyphicon-education" style="color:goldenrod;" aria-hidden="true"></span>
							Education
						</button>


						<button type="submit" id="_loadSSM"
							class="btn btn-default btn-lg" disabled>
							<span class="glyphicon glyphicon-link" style="color:red;" aria-hidden="true"></span>
							Network Support
						</button>


						<button type="submit" id="_loadSSM"
							class="btn btn-default btn-lg" disabled>
							<span class="glyphicon glyphicon-leaf" style="color:darkgreen" aria-hidden="true"></span>
							Household Management
						</button>


					</div>
				</div>
			</div>
		</div>
	</form>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/js/allResident.js"></script>

	<script src="/js/moment.js"></script>
	<script src="/js/moment-timezone.js"></script>

	<script
		src="https://getbootstrap.com/docs/3.3/dist/js/bootstrap.min.js"></script>
	<script src="/js/datatables.min.js"></script>

	<script src="/js/c3.min.js"></script>
	<script src="/js/d3-5.4.0.min.js"></script>

	<script
		src="https://getbootstrap.com/docs/3.3/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>