<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Resident Resource Network</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="/css/common.css" rel="stylesheet">

<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.navbar-brand>img {
	height: 100%;
}

.navbar-brand {
	padding: 0;
}
</style>

<script type="text/javascript">
    var res = null;
</script>

</head>
<body>

	<!-- Include _menu.html -->
	<th:block th:include="_menu"></th:block>

	<!-- <div class="container">
		<th:block th:include="/_wizard"></th:block>
	</div> -->
	<div class="container">
		<div id="caseNotes_Form">

			<form name='_caseNotesF' th:action="@{/saveCaseNotes}"
				th:object="${resident}" method='POST' class="form-horizontal">

				<div class="col-sm-12 myPanel">
					<div class="row">
						<div class="col-sm-8">
							<h3 style="width: 400px;">CASE NOTES</h3>
							<span class="hidden-print" style="color: red; font-size: larger;"
								th:if="*{firstName == null}" th:text="${message}"></span>
						</div>
						
						<div class="col-sm-4">
						<table class="table-responsive table-condensed hidden-print">
							<tr><td><select class="form-control input-sm" id="_dates"
									th:field="*{selectedDate}" onchange="buildAchorTagForSelectedDate(this, jQuery('#_residentIdText').text()); validateAndShowMessage();">
									<option value="new">New Contact Notes</option>
									<option th:each="contactNotes : ${resident.contactNoteDates}"
										th:value="${contactNotes}" th:utext="${contactNotes}" />
							</select>	</td>
							<td style="vertical-align: middle;"><span class="glyphicon glyphicon-arrow-right" style="color:crimson;"></span></td>
							<td><a id="_loadCaseNotes" class="btn btn-default btn-sm"								
								th:href="@{/getCaseNotes?entryPoint=onboarding}"> <span
								class="glyphicon glyphicon-cloud-download" style="color: goldenrod;"
								aria-hidden="true"></span> Contact Notes
							</a></td>
							
							</tr>
						</table>	
						
						</div>					
						
						<div class="col-sm-2 hideme print-only">
							<img src="/images/rrnlogo_horz.png" style="width: 150px;" />
						</div>
					</div>

					<h5>This form is to be used to document contacts with
						residents.</h5>

					<table
						class="table table-responsive table-bordered table-condensed text-center"
						style="background-color: ghostwhite;">
						<thead>
							<th class="text-center">ID</th>
							<th class="text-center">Resident Name</th>
							<th class="text-center">Property</th>
							<th class="text-center">Address</th>
							<th class="text-center">Phone Number</th>
						</thead>
						<tbody>
							<tr>
								<td><span th:if="*{firstName != null}" id="_residentIdText"
									th:text="*{residentId}"></span></td>
								<td><span th:if="*{firstName != null}"
									th:text="*{firstName}">&nbsp;</span> <span
									th:if="*{middle != null}" th:text="*{middle}">&nbsp;</span> <span
									th:if="*{lastName != null}" th:text="*{lastName}"></span></td>
								<td><span th:text="*{propertyName}">&nbsp;</span></td>
								<td><span th:text="*{address}">&nbsp;</span></td>
								<td><span th:text="*{voiceMail}">&nbsp;</span></td>
							</tr>
						</tbody>
					</table>
				
					<div class="panel panel-default hidden-print">
						<div class="panel-heading">Description (a factual
							description of the interaction- the who, what, when, where, and
							why)</div>
						<div class="panel-body">
							<textarea class="form-control" rows="5" id="_cnDesc"
								th:field="*{description}"
								th:value="*{description}"></textarea>
						</div>
					</div>

					<div class="panel panel-default hidden-print">
						<div class="panel-heading">Assessment (an evaluation of the
							current status and progress)</div>
						<div class="panel-body">
							<textarea class="form-control" rows="5" id="_cnAssessment"
								th:field="*{assessment}"
								th:value="*{assessment}"></textarea>
						</div>
					</div>

					<div class="panel panel-default hidden-print">
						<div class="panel-heading">Plan (statements about what will
							happen next)</div>
						<div class="panel-body">
							<textarea class="form-control" rows="5" id="_cnPlan"
								th:field="*{plan}"
								th:value="*{plan}"></textarea>
						</div>
					</div>
					
					<div class="panel panel-default hideme print-only">
						<div class="panel-heading">Description (a factual
							description of the interaction- the who, what, when, where, and
							why)</div>
						<div class="panel-body">
							<p id="_cnDesc_P"></p>
						</div>
					</div>

					<div class="panel panel-default  hideme print-only">
						<div class="panel-heading">Assessment (an evaluation of the
							current status and progress)</div>
						<div class="panel-body">
							<p id="_cnAssessment_P"></p>
						</div>
					</div>

					<div class="panel panel-default hideme print-only">
						<div class="panel-heading">Plan (statements about what will
							happen next)</div>
						<div class="panel-body">
							<p id="_cnPlan_P"></p>
						</div>
					</div>
					
					<div class="row hideme print-only">

						<div class="col-sm-6">
							<div class="col-sm-8">Service Coordinator's Signature:</div>
							<div class="col-sm-4" style="width: 100px;">
								<hr>
							</div>
						</div>
						<div class="col-sm-5">

							<div class="col-sm-4">Date:</div>
							<div class="col-sm-8" style="width: 100px;">
								<hr>
							</div>

						</div>
					</div>




					<div class="row text-center bs-linebreak hidden-print">
						<!-- Following all passed to ResidentController upon Submit, please look onclick method of save for building each JSON String-->
						<input type="hidden" th:field="*{serviceCoord}" /> <input
							type="hidden" th:field="*{residentId}" /> 
							<input
							type="hidden" th:field="*{isResident}" /> 
						
						<div class="text-danger hidden-print hideme">
							<span>There is already Contact Notes from today's Date, retrieve today's Contact Notes from dropdown above to view/modify.</span>
						</div>

						<!-- Submit  -->
						<input type="submit" id="_caseNotesSubmit"
							class="btn btn-primary btn-lg" value="Save Case Notes">
					</div>

				</div>
			</form>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/js/moment.js"></script>
	<script src="/js/moment-timezone.js"></script>

	<script
		src="https://getbootstrap.com/docs/3.3/dist/js/bootstrap.min.js"></script>
	<script src="/js/caseNotes.js"></script>
	<script
		src="https://getbootstrap.com/docs/3.3/assets/js/ie10-viewport-bug-workaround.js"></script>
	<script src="/js/menu.js"></script>

</body>
</html>