<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Resident Resource Network</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="/css/common.css" rel="stylesheet">

<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.navbar-brand>img {
	height: 100%;
}

.navbar-brand {
	padding: 0;
}
</style>

</head>
<body>

	<!-- Include _menu.html -->
	<th:block th:include="/_menu"></th:block>

	<div class="container-fluid">
		<h2>Dashboard</h2>

		<form name='_dashoardF' th:action="@{/saveDashboard}"
			th:object="${dashboard}" method='POST' class="form-horizontal">


			<div class="row">

				<div class="col-sm-2">

					<div class="col-sm-12 form-group">
						<select id="ddlYear" class="form-control input-sm"
							th:field="*{year}">

						</select>
					</div>
					<div class="col-sm-12 form-group">
						<select id="ddlQuarter" class="form-control input-sm"
							th:field="*{quarter}">
							<option value="1">Q1: Jan 1 - Mar 31</option>
							<option value="2">Q2: Apr 1 - Jun 30</option>
							<option value="3">Q3: Jul 1 - Sep 30</option>
							<option value="4">Q4: Oct 1 - Dec 31</option>

						</select>
					</div>
					<div class="col-sm-12 form-group">
						<label class="control-label" for="_properties">Properties:</label>
						<div id="_properties">

							<th:block id="_props" th:each="property : *{properties}">
								<input type="checkbox" name="properties" class="form-input"
									th:value="${property.propertyId}"
									th:checked="${property.checked}" />
								<span th:text="${property.propertyName}"></span>
								<br />
							</th:block>
						</div>
					</div>

					<div class="col-sm-12 text-center">
						<input type="hidden" id="_dashboardObj" value="" />
						<button type="button" id="_pullReport" class="btn btn-default"
							value="Pull Report" onclick="pullDashboard();">
							<span class="glyphicon glyphicon-stats" style="color: green;"
								aria-hidden="true"> Pull Report</span>
						</button>
					</div>
				</div>

				<div class="col-sm-3">
					<table id="_quarterTable"
						class="table table-responsive table-bordered table-condensed text-center"
						style="background-color: ghostwhite;">

						<thead>
							<th class="text-center"></th>
							<th class="text-center">Q1</th>
							<th class="text-center">Q2</th>
							<th class="text-center">Q3</th>
							<th class="text-center">Q4</th>
							<th class="text-center">YTD</th>
						</thead>
						<tbody>
							<tr>
								<td>Total # of Units</td>
								<td id="_unitsTotalQ1"></td>
								<td id="_unitsTotalQ2"></td>
								<td id="_unitsTotalQ3"></td>
								<td id="_unitsTotalQ4"></td>
								<td id="_unitsTotalYTD"></td>
							</tr>
							<tr>
								<td>Total # of Residents</td>
								<td id="_resTotalQ1"></td>
								<td id="_resTotalQ2"></td>
								<td id="_resTotalQ3"></td>
								<td id="_resTotalQ4"></td>
								<td id="_resTotalYTD"></td>
							</tr>
							<tr>
								<td># of Residents Served</td>
								<td id="_resServedQ1"></td>
								<td id="_resServedQ2"></td>
								<td id="_resServedQ3"></td>
								<td id="_resServedQ4"></td>
								<td id="_resServedYTD"></td>
							</tr>
						</tbody>

					</table>
				</div>
			</div>


		</form>





	</div>



	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
		src="https://getbootstrap.com/docs/3.3/dist/js/bootstrap.min.js"></script>
	<script
		src="https://getbootstrap.com/docs/3.3/assets/js/ie10-viewport-bug-workaround.js"></script>
	<script src="/js/menu.js"></script>
	<script src="/js/dashboard.js"></script>

</body>

</html>