<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Resident Resource Network</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="/css/common.css" rel="stylesheet">
<link href="/css/c3.min.css" rel="stylesheet">

<style>
body {
	-webkit-print-color-adjust: exact !important;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.navbar-brand>img {
	height: 100%;
}

.navbar-brand {
	padding: 0;
}
</style>

</head>
<body>

	<!-- Include _menu.html -->
	<th:block th:include="../templates/_menu"></th:block>

	<form name='_dashoardF' th:object="${dashboard}" 
		class="form-horizontal">

		<div class="container">



			<div class="row myPanel">

				<div Class="col-sm-2">

					<th:block th:each="y: *{yearList}">
						<label> <input type="checkbox" th:id="${y}"
							th:name="'_year_'+${y}">&nbsp;<span th:text="${y}"></span>
						</label>
					</th:block>

				</div>

				<div class="col-sm-10 borderleft">
					<div th:each="pr, iStat: *{properties}">
						<div class="col-md-3">
							<label> <input type="checkbox" th:id="${pr.propertyId}"
								th:name="'_propId_'+${pr.propertyId}">&nbsp;<span
								th:text="${pr.propertyName}"
								></span>
							</label>
						</div>
					</div>
				</div>
			</div>

		</div>


		<table>
			<tbody>
				<tr><div class="container-fluid">
					<div class="row">
						<div class="col-sm-2">
							<div id="genderChart" style="min-height: 400px;"></div>
						</div>
						<div class="col-sm-6">
							<!-- TODO -->
						</div>
					</div>
				</div></tr>
				<tr><div class="container-fluid">
					<div class="row">
						<div class="col-sm-2">
							<div id="ethnicityChart" style="min-height: 400px;"></div>
						</div>
						<div class="col-sm-6">
							<!-- TODO -->
						</div>
					</div>
				</div></tr>
				<tr>	<div class="container-fluid">
					<div class="row">
						<div class="col-sm-2">
							<div id="languageChart" style="min-height: 400px;"></div>
						</div>
						<div class="col-sm-6">
							<!-- TODO -->
						</div>
					</div>
				</div></tr>
			<tr>
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-2">
							<div id="maritalStatusChart" style="min-height: 400px;"></div>
						</div>
						<div class="col-sm-6">
							<!-- TODO -->
						</div>
					</div>
				</div>

				</tr>

				<tr>
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-2">
								<div id="householdChart" style="min-height: 400px;"></div>
							</div>
							<div class="col-sm-6">
								<!-- TODO -->
							</div>
						</div>
					</div>

				</tr>

				<tr>
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-2">
								<div id="veteranChart" style="min-height: 400px;"></div>
							</div>
							<div class="col-sm-6">
								<!-- TODO -->
							</div>
						</div>
					</div>

				</tr>
				<tr>
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-2">
								<div id="disabilityChart" style="min-height: 400px;"></div>
							</div>
							<div class="col-sm-6">
								<!-- TODO -->
							</div>
						</div>
					</div>

				</tr>
				<tr>
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-2">
								<div id="exOffenderChart" style="min-height: 400px;"></div>
							</div>
							<div class="col-sm-6">
								<!-- TODO -->
							</div>
						</div>
					</div>

				</tr>
				<tr>
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-2">
								<div id="ssiChart" style="min-height: 400px;"></div>
							</div>
							<div class="col-sm-6">
								<!-- TODO -->
							</div>
						</div>
					</div>

				</tr>
				<tr>
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-2">
								<div id="ssdiChart" style="min-height: 400px;"></div>
							</div>
							<div class="col-sm-6">
								<!-- TODO -->
							</div>
						</div>
					</div>

				</tr>
				<tr>
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-2">
								<div id="healthChart" style="min-height: 400px;"></div>
							</div>
							<div class="col-sm-6">
								<!-- TODO -->
							</div>
						</div>
					</div>

				</tr>

				<tr>
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-2">
								<div id="educationChart" style="min-height: 400px;"></div>
							</div>
							<div class="col-sm-6">
								<!-- TODO -->
							</div>
						</div>
					</div>

				</tr>
			</tbody>
		</table>
	</form>



	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
		src="https://getbootstrap.com/docs/3.3/dist/js/bootstrap.min.js"></script>
	<script
		src="https://getbootstrap.com/docs/3.3/assets/js/ie10-viewport-bug-workaround.js"></script>

	<script src="/js/c3.min.js"></script>
	<script src="/js/d3-5.4.0.min.js"></script>

	<script src="/js/menu.js"></script>
	<script src="/js/dashboard.js"></script>



</body>

</html>