<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Resident Resource Network</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="/css/common.css" rel="stylesheet">
<link href="/css/c3.min.css" rel="stylesheet">

<style>
label {
	display: inline-block;
	max-width: 100%;
	font-weight: normal;
	max-width: none;
	font-size: smaller;
}

body {
	-webkit-print-color-adjust: exact !important;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.navbar-brand>img {
	height: 100%;
}

.navbar-brand {
	padding: 0;
}
</style>

</head>
<body>

	<!-- Include _menu.html -->
	<th:block th:include="../templates/_menu"></th:block>

	<form name='_dashoardF' th:object="${dashboard}"
		class="form-horizontal">



		<div class="container-fluid">

			<div class="row myPanel hidden-print">

				<div Class="col-sm-2">

					<th:block th:each="y: *{yearList}">
						<label> <input type="radio" th:value="${y}"
							th:field="*{year}" name="_year">&nbsp;<span
							th:text="${y}"></span>
						</label>
					</th:block>


				</div>

				<div class="col-sm-10 borderleft">
					<div th:each="pr, iStat: *{properties}">
						<div class="col-md-3">
							<label> <input type="checkbox" th:id="${pr.propertyId}"
								th:name="'_propId_'+${pr.propertyId}+'_State_'+${pr.state}+'_City_'+${pr.city}+'_County_'+${pr.county}">&nbsp;<span
								th:text="${pr.propertyName}"></span>
							</label>
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<hr class="solidlinePrimary">
				</div>

				<div class="col-md-12">
					<span><strong>County/City/State Filter: </strong></span>
				</div>


				<div class="col-md-12">
					<div class="col-sm-1">
						<label><strong><u>County</u></strong></label>
					</div>
					<div class="col-sm-11">
						<span th:each="county, iStat: *{countyList}"> <label>
								<input type="checkbox" th:id="'_cty_'+${county}"
								onchange="countySelection(this);">&nbsp;<span
								th:text="${county}"></span>
						</label>

						</span>
					</div>
				</div>

				<div class="col-md-12">

					<div class="col-sm-1">
						<label><strong><u>City</u></strong></label>
					</div>
					<div class="col-sm-11">
						<span th:each="city, iStat: *{cityList}"> <label> <input
								type="checkbox" th:id="'_ct_'+${city}"
								onchange="citySelection(this);">&nbsp;<span
								th:text="${city}"></span>
						</label>
						</span>
					</div>
				</div>



				<div class="col-md-12">
					<div class="col-sm-1">
						<label><strong><u>State</u></strong></label>
					</div>
					<div class="col-sm-10">
						<span th:each="state, iStat: *{stateList}"> <label>
								<input type="checkbox" th:id="'_st_'+${state}"
								onchange="stateSelection(this);">&nbsp;<span
								th:text="${state}"></span>
						</label>
						</span>
					</div>
					<div class="col-sm-1">
						<label><strong><a class="btn btn-warning"
								th:href="@{/dashboard}">Reset</a></strong></label>
					</div>
				</div>

			</div>

		</div>

		<div class="panel panel-info hideme print-only">

			<div class="panel-heading">
				Report for Following Properties: <img src="/images/rrnlogo_horz.png"
					style="float: right; width: 150px;" />
			</div>
			<div class="panel-body" id="_propListPrint"></div>
		</div>
		</div>



		<div class="container-fluid">


			<div class="row">
				<div class="col-sm-8">
					<h2>Quarterly Performance Report (Based on Year Selection)</h2>
				</div>
				<div class="col-sm-4">
					<button class="btn btn-info" type="button"
						onclick="ongoingResidents(this);">
						Count Ongoing Resident <span id="_ongoingBadge" class="badge"></span>
					</button>
					<button class="btn btn-success" type="button"
						onclick="newResidents(this);">
						Count New Residents <span id="_newBadge" class="badge"></span>
					</button>
				</div>


			</div>

			<div class="row">
				<div class="col-sm-2">
					<div id="noShowsChart" style="min-height: 350px;"></div>
				</div>

				<div class="col-sm-2">
					<div id="resServedChart" style="min-height: 350px;"></div>
				</div>

				<div class="col-sm-2">
					<div id="assessmentChart" style="min-height: 350px;"></div>
				</div>

				<div class="col-sm-2">
					<div id="serviceAgencyChart" style="min-height: 350px;"></div>
				</div>

				<div class="col-sm-4">
					<div id="refTypeChart" style="min-height: 350px;"></div>
				</div>

			</div>

			<hr class="solidline1">

			<div class="row">

				<div class="col-sm-12">
					<div id="servicesChart" style="min-height: 350px;"></div>
				</div>
			</div>

			<hr class="solidline1">

			<div class="row">

				<div class="col-sm-12">
					<div id="refReasonsChart" style="min-height: 350px;"></div>
				</div>
			</div>
			

			<hr class="solidline1">

			<div class="row">

				<div class="col-sm-12">
					<div id="outAchChart" style="min-height: 350px;"></div>
				</div>
			</div>

			<hr class="solidline1">

			<h2>Demographic Report (Independent of Year Selection)</h2>
			<div class="row">
				<div class="col-sm-4">
					<div id="genderChart" style="min-height: 350px;"></div>
				</div>
				<div class="col-sm-4">
					<div id="ethnicityChart" style="min-height: 350px;"></div>
				</div>
				<div class="col-sm-4">
					<div id="raceChart" style="min-height: 350px;"></div>
				</div>
			</div>
			<hr class="solidline1">

			<div class="row">
				<div class="col-sm-4">
					<div id="languageChart" style="min-height: 350px;"></div>
				</div>
				<div class="col-sm-4">
					<div id="maritalStatusChart" style="min-height: 350px;"></div>
				</div>
				<div class="col-sm-4">
					<div id="householdChart" style="min-height: 350px;"></div>
				</div>
			</div>
			<hr class="solidline1">

			<div class="row">
				<div class="col-sm-4">
					<div id="veteranChart" style="min-height: 350px;"></div>
				</div>
				<div class="col-sm-4">
					<div id="disabilityChart" style="min-height: 350px;"></div>
				</div>
				<div class="col-sm-4">
					<div id="exOffenderChart" style="min-height: 350px;"></div>
				</div>
			</div>
			<hr class="solidline1">

			<div class="row">
				<div class="col-sm-4">
					<div id="ssiChart" style="min-height: 350px;"></div>
				</div>
				<div class="col-sm-4">
					<div id="ssdiChart" style="min-height: 350px;"></div>
				</div>
				<div class="col-sm-4">
					<div id="footShortageChart" style="min-height: 350px;"></div>
				</div>
			</div>
			<hr class="solidline1">

			<div class="row">
				<div class="col-sm-4">
					<div id="modTransChart" style="min-height: 350px;"></div>
				</div>
				<div class="col-sm-4">
					<div id="internetAccessChart" style="min-height: 350px;"></div>
				</div>
				<div class="col-sm-4">
					<div id="prefContactChart" style="min-height: 350px;"></div>
				</div>
			</div>
			<hr class="solidline1">

			<div class="row">
				<div class="col-sm-12">
					<div id="healthChart" style="min-height: 350px;"></div>
				</div>
			</div>
			<hr class="solidline1">

			<div class="row">
				<div class="col-sm-12">
					<div id="educationChart" style="min-height: 350px;"></div>
				</div>
			</div>

			<hr class="solidline1">

			<div class="row">
				<div class="col-sm-4">
					<div id="safeDayChart" style="min-height: 350px;"></div>
				</div>

				<div class="col-sm-4">
					<div id="safeNightChart" style="min-height: 350px;"></div>
				</div>

				<div class="col-sm-4">
					<div id="intResCouncilChart" style="min-height: 350px;"></div>
				</div>

				<div class="col-sm-4">
					<div id="occLengthChart" style="min-height: 350px;"></div>
				</div>

				<div class="col-sm-4">
					<div id="hohTypeChart" style="min-height: 350px;"></div>
				</div>

			</div>





		</div>



	</form>



	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
		src="https://getbootstrap.com/docs/3.3/dist/js/bootstrap.min.js"></script>
	<script
		src="https://getbootstrap.com/docs/3.3/assets/js/ie10-viewport-bug-workaround.js"></script>

	<script src="/js/c3.min.js"></script>
	<script src="/js/d3-5.4.0.min.js"></script>

	<script src="/js/menu.js"></script>
	<script src="/js/dashboard.js"></script>

</body>

</html>