<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Logged Out</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link href="/css/common.css" rel="stylesheet">

<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.navbar-brand>img {
  height: 100%;
}
.navbar-brand {
  padding: 0;
}
</style>

</head>
<body>

	<!-- Include _menu.html -->
	<th:block th:include="../templates/_menu"></th:block>
	<div class="container">
		<h1>Logout Successful!</h1>
	</div>
	
	<script type="text/javascript">	
	//Code to Style Active Tab
	jQuery(document).ready(function(){		
		jQuery('a').parent().removeClass('active');		
  	});
	</script>
	
</body>

</html>