<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">

<!--<![endif]-->

<head>
    <title>Resident Resources Network | Report Request Page</title>
    <meta content="Resident Resources Network Demographics Report" name="description" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Assessment Report</title>
    <link href="/css/report.css" rel="stylesheet">
</head>

<body>
<div><th:block th:replace="fragments/header :: header"/></div>
<section>
    <div class="container-fluid">
    <form th:name="overview-form" th:method="GET" class="form-horizontal">
        <div class="reportPanel" style="overflow:auto">
            <div class="sidenav-overview">
                <nav id="oreport-nav">
                        <div class="overview-list">
                            <ul class="demo-overview">
                                <li><a th:href="@{/overview/gender}">Gender Distribution</a></li>
                                <li><a th:href="@{/overview/ethnicity}">Ethnicity Distribution</a></li>
                                <li><a th:href="@{/overview/race}">Race Distribution</a></li>
                                <li><a th:href="@{/overview/household}">Head of Hold</a></li>
                                <li><a th:href="@{/overview/veteran}">Veteran Status</a></li>
                                <li><a th:href="@{/overview/disability}">Disability Status</a></li>
                                <li><a th:href="@{/overview/returning}">Ex-Offender</a></li>
                                <li><a th:href="@{/overview/snap}">SNAP Recipients</a></li>
                                <li><a th:href="@{/overview/ssi}">SSI Recipients</a></li>
                                <li><a th:href="@{/overview/ssdi}">SSDI Recipients</a></li>
                                <li><a th:href="@{/overview/health}">Health Coverage</a></li>
                                <li><a th:href="@{/overview/education}">Education Status</a></li>
                                <li><a th:href="@{/overview/income}">Income Level</a></li>
                                <li><a th:href="@{/overview/safety}">Home Safety</a></li>
                                <li><a th:href="@{/overview/language}">Language Distribution</a></li>
                                <li><a th:href="@{/overview/age}">Age Range Distribution</a></li>
                            </ul>
                        </div>
                </nav>
            </div>
            <div class="main-content">

            </div>
        </div>
    </form>
    </div>

</section>
</body>
</html>