<!--&lt;!&ndash;[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]&ndash;&gt;-->
<!--&lt;!&ndash;[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]&ndash;&gt;-->
<!--&lt;!&ndash;[if !IE]>&lt;!&ndash;>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"-->
<!--      layout:decorate="~{fragments/layout}">-->

<!--&lt;!&ndash;<![endif]&ndash;&gt;-->

<!--<head>-->
<!--    <title>Resident Resources Network | Report Request Page</title>-->
<!--    <meta content="Resident Resources Network Demographics Report" name="description" />-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>-->
<!--    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Assessment Report</title>-->
<!--    <link href="/css/report.css" rel="stylesheet">-->
<!--</head>-->

<!--<body>-->
<!--<div><th:block th:replace="fragments/header :: header"/></div>-->

<!--</body>-->
<!--</html>-->