<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Resident Resource Network</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="/css/common.css" rel="stylesheet">

<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.navbar-brand>img {
	height: 100%;
}

.navbar-brand {
	padding: 0;
}
</style>

<script type="text/javascript">
    var res = null;
    var referralReasons = null;
    var selfSuff = null;
    var hs = null;
    var ssc = null;
    var resAppSch = null;
</script>

</head>
<body>

	<!-- Include _menu.html -->
	<th:block th:include="/_menu"></th:block>

	<!-- <div class="container">
		<th:block th:include="/_wizard"></th:block>
	</div> -->
	<div class="container">
		<div id="referralForm_Form">

			<form name='_referralFormF' th:action="@{/saveReferralForm}"
				th:object="${resident}" method='POST' class="form-horizontal">

				<div class="col-sm-12 myPanel">
					<div class="row">
						<div class="col-sm-10">
							<h3 style="width: 400px;">Referral Form</h3>
							<span class="hidden-print" style="color: red; font-size: larger;"
								th:if="*{firstName == null}" th:text="${message}"></span>
						</div>
						<div class="col-sm-2 hideme print-only">
							<img src="/images/rrnlogo_horz.png" style="width: 150px;" />
						</div>
					</div>

					<h5>This form is to be used to make referral on behalf of residents</h5>

					<table
						class="table table-responsive table-bordered table-condensed text-center"
						style="background-color: ghostwhite;">
						<thead>
							<th class="text-center">ID</th>
							<th class="text-center">Resident Name</th>
							<th class="text-center">Property</th>
							<th class="text-center">Address</th>
							<th class="text-center">Phone Number</th>
						</thead>
						<tbody>
							<tr>
								<td><span th:if="*{firstName != null}" id="_residentIdText"
									th:text="*{residentId}"></span></td>
								<td><span th:if="*{firstName != null}"
									th:text="*{firstName}">&nbsp;</span> <span
									th:if="*{middle != null}" th:text="*{middle}">&nbsp;</span> <span
									th:if="*{lastName != null}" th:text="*{lastName}"></span></td>
								<td><span th:text="*{propertyName}">&nbsp;</span></td>
								<td><span th:text="*{address}">&nbsp;</span></td>
								<td><span th:text="*{voiceMail}">&nbsp;</span></td>
							</tr>
						</tbody>
					</table>				
					
					<table
						class="table table-responsive table-bordered table-condensed text-center"
						style="background-color: ghostwhite;">
						<thead>
							<th class="text-center">Interpretation?</th>
							<th class="text-center">Referral Source</th>
							<th class="text-center">Date Added:</th>
							<th class="text-center">Date Modified:</th>
						</thead>
						<tbody>
							<tr>
								<td><div class="radio">
  											    <label><input th:field="*{interpretation}" type="radio" name="isResident" value="TRUE" />Yes</label>
  											    <label><input th:field="*{interpretation}" type="radio" name="isResident" value="FALSE" th:checked />No</label>
    										</div></td>
								<td><span id="referredBy" th:text="*{refValue}"></span></td>
								<td><span id="_currentDate" th:text="*{referralFormDateAdded}"></span></td>
								<td><span id="_dateModified" th:text="*{referralFormDateModified}"></span></td>
								
							</tr>
						</tbody>
					</table>
					
					<!-- This Table will populate from javaScript -->
					<table id="_referralReasonTable" class="table table-responsive table-bordered table-condensed" style="background-color: ghostwhite;">
						<thead>
							<th colspan="4" class="text-center">Referral Reason</th>
						</thead>
						<tbody>
							<tr><td id="_refReasons"></td></tr>
						</tbody>
					</table>
					
					<table class="table table-responsive table-bordered table-condensed hideme print-only">					
						<thead>
							<tr><th>Comments/Explanation of Reason for Referral</th><th>Previous Attempts to Resolve the Issue</th><th>Follow-up Notes</th></tr>
						</thead>
						<tbody><tr><td id="_commentsPrint"></td><td id="_prevAttemptsPrint"></td><td id="_followupPrint"></td></tr></tbody>
					</table>					
					
					<table id="_comments" class="table table-responsive table-bordered table-condensed hidden-print">
						<caption><strong>Comments/Explanation of Reason for Referral</strong></caption>
						<tbody>
						<tr><td>
						<textarea class="form-control" rows="2" id="_commentsOrExplanation"
								th:field="*{commentsOrExplanation}"
								th:value="*{commentsOrExplanation}"></textarea></td></tr>
						</tbody>
					</table>			
					
					<table id="_prevAttempts" class="table table-responsive table-bordered table-condensed hidden-print">
						<caption><strong>Previous Attempts to Resolve the Issue</strong></caption>
						<tbody>
						<tr><td>
						<textarea class="form-control" rows="2" id="_prevAttemps"
								th:field="*{previousAttempts}"
								th:value="*{previousAttempts}"></textarea></td></tr>
						</tbody>
					</table>
					
					<!-- Each Column will be populated by javaScript from referralForm.js -->
					<table id="_desiredOutcomes" class="table table-responsive table-bordered table-condensed" style="background-color: ghostwhite;">
						<caption><strong>Desired Outcomes</strong> (check at that reasonably apply)</caption>
						<thead>
							<tr><th class="text-center">Self Sufficiency</th><th class="text-center">Housing Stability</th><th class="text-center">Safer, More Supportive Communities</th></tr>
						</thead>
						<tbody><tr><td id="_ssColumn"></td><td id="_hsColumn"></td><td id="_safeSuppColumn"></td></tr>
						<tr>
						<td><textarea class="form-control" rows="2" id="_ssOther" placeholder="Any Other type here:"></textarea></td>
						<td><textarea class="form-control" rows="2" id="_hsOther" placeholder="Any Other type here:"></textarea></td>
						<td><textarea class="form-control" rows="2" id="_safeSuppOther" placeholder="Any Other type here:"></textarea></td></tr>
						</tbody>
					</table>
					
					<table id="_comments" class="table table-responsive table-bordered table-condensed hidden-print">
						<caption><strong>Follow-up Notes</strong></caption>
						<tbody>
						<tr><td>
						<textarea class="form-control" rows="2" id="_rfFollowupNotes"
								th:field="*{rfFollowUpNotes}"
								th:value="*{rfFollowUpNotes}"></textarea></td></tr>
						</tbody>
					</table>
					
					<div class="row text-center">
					<div class="col-sm-10">
						<div class="col-sm-6">Resident Appointment Scheduled?</div>
						<div class="col-sm-6"><input id="_resAppSch" class="form-control" placeholder="If Yes, Enter Date else leave blank" ></div>
					</div>
					</div>
					
					<div class="row hideme print-only">

						<div class="col-sm-7">
							<div class="col-sm-8">Service Coordinator's Signature:</div>
							<div class="col-sm-4" style="width: 100px;">
								<hr>
							</div>
						</div>
						<div class="col-sm-5">
							<div class="col-sm-4">Date:</div>
							<div class="col-sm-8" style="width: 100px;">
								<hr>
							</div>
						</div>
					</div>				
					
					<div class="row text-center bs-linebreak hidden-print">
						<!-- Following all passed to ResidentController upon Submit, please look onclick method of save for building each JSON String-->
						<input type="hidden" th:field="*{serviceCoord}" /> <input
							type="hidden" th:field="*{residentId}" /> 
						<input type="hidden" id="_referralReason" th:field="*{referralReason}" />
						<input type="hidden" id="_selfSufficiency" th:field="*{selfSufficiency}" />
						<input type="hidden" id="_housingStability" th:field="*{housingStability}" />
						<input type="hidden" id="_safeSupportiveCommunity" th:field="*{safeSupportiveCommunity}" />
						<input type="hidden" id="_residentAppointmentScheduled" th:field="*{residentAppointmentScheduled}" />    

						<!-- Submit  -->
						<input type="submit" id="_refFormubmit" onclick="buildEachJSONString();"
							class="btn btn-primary btn-lg" value="Save Referral Form">
					</div>

				</div>
			</form>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script
		src="https://getbootstrap.com/docs/3.3/dist/js/bootstrap.min.js"></script>
	<script src="/js/referralForm.js"></script>
	<script
		src="https://getbootstrap.com/docs/3.3/assets/js/ie10-viewport-bug-workaround.js"></script>
	<script src="/js/menu.js"></script>

</body>
</html>