<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <title>Resident Resources Network | Report Request Page</title>
    <meta content="Resident Resources Network Demographics Report" name="description" />
</head>


<body>
<h1>Reports</h1>

<div class="reportPanel" style="overflow:auto">
    <table class="displayTable">
        <tr>
            <th>Select Property</th>
            <th>

            </th>
        </tr>
        <tr>
            <td>
                <div class="propertylist" th:unless="${#lists.isEmpty(propertyList)}">
                    <table class="table datatable">
                        <thead>
                        <tr>
                            <th>Property Name</th>
                        </tr>
                         </thead>
                        <tbody>
                        <tr th:each="propertyList : ${propertyList}">
                            <td>
                            <form action="#" th:action="@{/reportrequest} + ${{propertyList.getPropertyId()}}" method="get">
                            <button th:text="${propertyList.getPropertyId()} +  ' ' + ${propertyList.getPropertyName()}">Text ...</button>
                            </form>
                            </td>
                        </tr>
                        </tbody>
                </div>
            </td>

            <td>

            </td>
        </tr>
    </table>
</div>
</body>
</html>

