<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Resident Resource Network</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="/css/common.css" rel="stylesheet">

<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.navbar-brand>img {
	height: 100%;
}

.navbar-brand {
	padding: 0;
}
</style>

<script type="text/javascript">
var res = null;
</script>

</head>
<body>

	<!-- Include _menu.html -->
	<th:block th:include="/_menu"></th:block>
		
	<div class="container">
		<th:block th:include="/_addResident"></th:block>		
	</div>


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/js/residentPage.js"></script>	
	<script	src="https://getbootstrap.com/docs/3.3/dist/js/bootstrap.min.js"></script>	
	<script	src="https://getbootstrap.com/docs/3.3/assets/js/ie10-viewport-bug-workaround.js"></script>
	<script src="/js/menu.js"></script>


</body>

</html>