<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Resident Hope</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link href="/css/common.css" rel="stylesheet">

<link href="/css/datatables.min.css" rel="stylesheet">

<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.navbar-brand>img {
	height: 100%;
}

.navbar-brand {
	padding: 0;
}
</style>

</head>
<body>

	<!-- Include _menu.html -->
	<th:block th:include="/_menu"></th:block>

	<div class="container-fluid">

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">SERVICE COORDINATION SIGNUP</h3>
			</div>
			<div class="panel-body">


				<form name='f' th:action="@{/addResident}" th:object="${resident}"
					method='POST' class="form-horizontal" novalidate>

					<!-- <div id="logo-container"></div> -->

					<div class="row">

						<div class="col-md-2">
							<div class="form-group form-group-md">
								<label class="col-md-5 control-label" for="firstName">First
									Name: </label>
								<div class="col-md-7">
									<input class="form-control" id="firstName"
										th:field="*{firstName}" placeholder="Enter first name"
										required>
								</div>
							</div>

							<div class="form-group form-group-md">
								<label class="col-md-5 control-label" for="middle">Middle:
								</label>
								<div class="col-md-7">
									<input class="form-control" id="middle" th:field="*{middle}"
										placeholder="middle" required>
								</div>
							</div>

							<div class="form-group form-group-md">
								<label class="col-md-5 control-label" for="lastname">Last
									Name: </label>
								<div class="col-md-7">
									<input class="form-control" id="lastname"
										th:field="*{lastName}" placeholder="Enter last name" required>
								</div>
							</div>

						</div>

						<div class="col-md-3">
							<div class="form-group form-group-md">
								<label class="col-md-3 control-label" for="voicemail">Voicemail:</label>
								<div class="col-md-6">
									<input class="form-control" id="voicemail"
										th:field="*{voiceMail}" placeholder="Enter voicemail">
								</div>
							</div>

							<div class="form-group form-group-md">
								<label class="col-md-3 control-label" for="text">Text: </label>
								<div class="col-md-6">
									<input class="form-control" id="text" th:field="*{text}"
										placeholder="Enter cell phone">
								</div>
							</div>

							<div class="form-group form-group-md">
								<label class="col-md-3 control-label" for="email">Email:</label>
								<div class="col-md-8">
									<input class="form-control" id="email" type="email"
										th:field="*{email}" placeholder="Enter email">
								</div>
							</div>

						</div>

						<div class="col-md-3">
							<div class="form-group form-group-md">
								<label class="col-md-3 control-label" for="_property">Property:</label>
								<div class="col-md-6">
									<select class="form-control" id="_property"
										th:field="*{propertyId}" onchange="populateUnitAndFee(this.value)">
										<option value="0">Select</option>
										<option th:each="property : ${resident.propertyList}"
											th:value="${property.propertyId}"
											th:utext="${property.propertyName}" />
									</select>
								</div>
								<span th:each="prop : ${resident.propertyList}">
    								<input type="hidden" th:id="${'_p' + prop.propertyId}" th:value="${prop.unit+'_'+prop.unitFee}" />
								</span>
							</div>

							<div class="form-group form-group-md">
								<label class="col-md-3 control-label" for="unit">Unit: </label>
								<div class="col-md-6">
									<input class="form-control" id="unit" value=""
										placeholder="Select Property" readonly>
								</div>
							</div>

							<div class="form-group form-group-md">
								<label class="col-md-3 control-label" for="unitFee">Unit
									Fee:</label>
								<div class="col-md-6">
									<input class="form-control" id="unitFee" value=""
										placeholder="Select Property" readonly>
								</div>
							</div>

						</div>

						<div class="col-md-2">
							<div class="form-group form-group-sm">

								<div class="col-md-10">
									<input class="form-control" id="child1" th:field="*{child1}"
										placeholder="Child 1 fullname">

								</div>
							</div>

							<div class="form-group form-group-sm">

								<div class="col-md-10">
									<input class="form-control" id="child2" th:field="*{child2}"
										placeholder="Child 2 fullname">

								</div>
							</div>

							<div class="form-group form-group-sm">

								<div class="col-md-10">
									<input class="form-control" id="child3" th:field="*{child3}"
										placeholder="Child 3 fullname">

								</div>
							</div>
							
							<div class="form-group form-group-sm">

								<div class="col-md-10">
									<input class="form-control" id="child4" th:field="*{child4}"
										placeholder="Child 4 fullname">

								</div>
							</div>

						</div>

						<div class="col-md-2">
							<div class="form-group form-group-sm">

								<div class="col-md-10">

									<input class="form-control" id="child5" th:field="*{child5}"
										placeholder="Child 5 fullname">
								</div>
							</div>

							<div class="form-group form-group-sm">

								<div class="col-md-10">

									<input class="form-control" id="child6" th:field="*{child6}"
										placeholder="Child 6 fullname">
								</div>
							</div>

							<div class="form-group form-group-sm">

								<div class="col-md-10">

									<input class="form-control" id="child7" th:field="*{child7}"
										placeholder="Child 7 fullname">
								</div>
							</div>
							
							<div class="form-group form-group-sm">

								<div class="col-md-10">

									<input class="form-control" id="child8" th:field="*{child8}"
										placeholder="Child 8 fullname">
								</div>
							</div>

						</div>

					</div>


					<div class="row text-center">

						<div>
							<label class="checkbox-inline" for="allowcontact">
							<input
								 id="allowcontact" type="checkbox"
								th:field="*{allowContact}">Not interested in being
								contacted by [SC] 
							</label> 
							<label class="checkbox-inline"
								for="wantSurvey">
							<input 
								id="wantSurvey" th:field="*{wantSurvey}" type="checkbox">Will
								complete survey within 10 days 
							</label> 
							<label class="checkbox-inline"
								for="photoRelease">
							<input 
								id="photoRelease" th:field="*{photoRelease}" type="checkbox">Photo
								and video release 
							</label>
						</div>

					</div>
					
					<div class="row text-center bs-linebreak">
						<input type="hidden" th:field="*{serviceCoord}" />
						<input type="hidden" id="propertyString" th:value="${resident.propertyList}" />
						<input type="button" class="btn btn-primary btn-md" value="Reset">
						<input type="submit" class="btn btn-primary btn-md" value="Sign up">
					</div>

				</form>

			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">All Residents</h3>
			</div>
			<div class="panel-body">
				<div class="col-sm-12">

					<table id="residentTable" class="display" style="width: 100%">
						<thead>
							<tr>
								<th>Active</th>
								<th>Full Name</th>
								<th>Property Name</th>
								<th>Voicemail</th>
								<th>Text</th>
								<th>Email</th>
								<th>Date Added</th>
								<th>SC</th>
							</tr>
						</thead>
					</table>

				</div>
			</div>
		</div>



	</div>



	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/js/moment.js"></script>
	<script src="/js/moment-timezone.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
		src="https://getbootstrap.com/docs/3.3/dist/js/bootstrap.min.js"></script>
	<script src="/js/datatables.min.js"></script>
	<script
		src="https://getbootstrap.com/docs/3.3/assets/js/ie10-viewport-bug-workaround.js"></script>

	<script type="text/javascript">
		//Code to Style Active Tab
		jQuery(document)
				.ready(
						function() {

							jQuery('a').parent().removeClass('active');
							var path = window.location.pathname;
							if (path == '/residents') {
								jQuery("a[href='/residents']").parent()
										.addClass('active');
							} else if (path == '/admin') {
								jQuery("a[href='/admin']").parent().addClass(
										'active');
							}

							//$('#residentTable').DataTable();

							jQuery
									.ajax({
										type : "POST",
										contentType : "application/json",
										url : "/getAllResidents",
										dataType : 'json',
										cache : false,
										timeout : 600000,
										success : function(data) {

											debugger;
											$('#residentTable')
													.dataTable(
															{
																"data" : data,
																"columns" : [
																		{
																			data : 'active'
																		},
																		{
																			data : 'firstName',
																			render : function(
																					t,
																					type,
																					row) {
																				return row.firstName
																						+ ' '
																						+ row.middle
																						+ ' '
																						+ row.lastName;
																			}
																		},
																		{
																			data : 'propertyName'
																		},
																		{
																			data : 'voiceMail'
																		},
																		{
																			data : 'text'
																		},
																		{
																			data : 'email'
																		},
																		{
																			data : 'dateAdded.time',
																			render : {
																				_ : 'display',
																				sort : 'timestamp'
																			},
																			render : function(
																					t,
																					type,
																					row) {
																				debugger;
																				return moment(
																						row.dateAdded)
																						.format(
																								"MM/DD/YY hh:mm A");
																			}
																		},
																		{
																			data : 'serviceCoord'
																		} ],
																"order" : [ [
																		6,
																		"desc" ] ],
																pageLength : 10,
																pagingType : "full_numbers"
															});

										},
										error : function(e) {
											console.log("ERROR : ", e);
										}
									});
						});
		
		function populateUnitAndFee(selVal){
			
			debugger;
			var valueString = jQuery("#_p"+selVal).val();
			 
			
			if(valueString === undefined){
				jQuery("#unit").val("");
				jQuery("#unitFee").val("");
			}
			else{
				var unitAndFee = valueString.split("_");
				jQuery("#unit").val(unitAndFee[0]);
				jQuery("#unitFee").val(unitAndFee[1]);
			}
			
		}
	</script>
</body>

</html>